{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["Firefox > 64"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}
