#!/usr/bin/env bash
set -euo pipefail

#watch_file .env && dotenv # load .env file
#watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake

layout node