.cache
.vscode
dist
node_modules
addon/sidebar
addon/settings
addon/group
addon/permissions
build/profile-ru/*
!build/profile-ru/__preserve-dir
build/profile-en/*
!build/profile-en/__preserve-dir
build/profile-beta/*
!build/profile-beta/__preserve-dir
build/profile-esr/*
!build/profile-esr/__preserve-dir