.cache
.vscode
dist
node_modules
addon/sidebar/*
!addon/sidebar/index.html
addon/settings/*
!addon/settings/settings.html
addon/snapshots
addon/theme
addon/themes/default/*
!addon/themes/default/__preserve-dir
addon/themes/tactile/*
!addon/themes/tactile/__preserve-dir
addon/styles
addon/menu
addon/group
addon/permissions
addon/debug
build/profile-ru/*
!build/profile-ru/__preserve-dir
build/profile-en/*
!build/profile-en/__preserve-dir
build/profile-beta/*
!build/profile-beta/__preserve-dir
build/profile-esr/*
!build/profile-esr/__preserve-dir