@import '../../../utils'

.SearchBar
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  cursor: text
  opacity: 1
  height: 28px
  margin: 0 1px 1px
  z-index: 10
  transition: height var(--d-fast), opacity var(--d-fast), z-index var(--d-fast)
  background-color: var(--toolbar-bg)
  box-shadow: 0 0 3px 0 #00000016
  border-radius: var(--element-roundness)
  &[data-showed="false"]
    opacity: 0
    height: 0
    z-index: -1
    margin-bottom: 0

.SearchBar .search-icon
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  width: 30px
  height: 100%
  > svg
    position: relative
    width: 16px
    height: 16px
    fill: var(--toolbar-fg)
    transition: fill var(--d-fast)
    opacity: .3
.SearchBar[data-active="true"] .search-icon > svg
  opacity: 1

.SearchBar .input
  position: relative
  flex-grow: 1
  height: 100%
  margin: 0
  padding: 0
  border: none
  outline: none
  overflow: hidden
  font-size: rem(17)
  background-color: #00000000
  color: var(--toolbar-fg)

.SearchBar .placeholder
  position: absolute
  left: 30px
  width: 100%
  padding: 0
  font-size: rem(17)
  color: var(--toolbar-fg)
  transition: opacity var(--d-fast), transform var(--d-fast)
  opacity: .7
.SearchBar:hover .placeholder
  opacity: .5
.SearchBar[data-focused="true"] .placeholder
  opacity: 1
  transform: translateX(3px)
.SearchBar[data-filled="true"] .placeholder
  opacity: 0
  transform: translateX(16px)

.SearchBar .clear-btn
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 28px
  height: 100%
  cursor: pointer
  flex-shrink: 0
  > svg
    position: relative
    width: 18px
    height: 18px
    fill: var(--toolbar-fg)
  &:hover
    opacity: .7
  &:active
    opacity: .5
