@import '../../../mixins'

.PanelViewSwitcherBar
  position: relative
  display: flex
  flex-shrink: 0
  width: 100%
  overflow: hidden
  grid-gap: 1px
  .view-btn
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    min-width: 28px
    height: 28px
    overflow: hidden
    background-color: var(--toolbar-bg)
    box-shadow: inset 1px 1px 0 0 var(--border-flare)
    border-radius: var(--element-roundness)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      box-shadow: inset 0 0 0 1px var(--element-overlay-border)
      background-color: var(--element-overlay-bg)
      opacity: 0
      border-radius: var(--element-roundness)
    > svg
      position: absolute
      width: 16px
      height: 16px
      fill: var(--toolbar-fg)
      opacity: .7
    &:hover:before
      opacity: .2
    &[data-active="true"]:before
      opacity: .4
      > svg
        opacity: 1
    &[data-active="true"]:hover:before
      opacity: .6
    &:active:before
      opacity: .4

  .btn-sep
    display: none
