@import '../../../mixins'

.PinnedTabsBar
  position: relative
  display: flex
  &[data-empty="true"]
    display: none

// Per-Panel
#root[data-pinned-tabs-position="panel"] .PinnedTabsBar
  width: 100%
  height: auto
  flex-wrap: wrap
  flex-direction: row

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar
  padding: 0 1px 9px 0
  box-shadow: inset 0 1px 0 0 #ffffff08

// Left
#root[data-pinned-tabs-position="left"] .PinnedTabsBar
  width: 100%
  height: 100%
  align-items: center
  flex-shrink: 0
  flex-grow: 0
  flex-direction: column

// Right
#root[data-pinned-tabs-position="right"] .PinnedTabsBar
  width: 100%
  height: 100%
  padding: 0 1px 0 0
  align-items: center
  flex-shrink: 0
  flex-grow: 0
  flex-direction: column

// Left/Right stacked with navbar
#root[data-pinned-tabs-position="left"][data-nav-layout="left"] .PinnedTabsBar
#root[data-pinned-tabs-position="right"][data-nav-layout="right"] .PinnedTabsBar
  height: auto

// Top
#root[data-pinned-tabs-position="top"] .PinnedTabsBar
  width: 100%
  height: auto
  flex-wrap: wrap
  flex-direction: row

// ---
// -- Separator
// -
.PinnedTabsBar:after
  content: ''
  position: absolute
  display: none
  left: 0
  bottom: 1px
  width: 100%
  height: 8px
  background-color: var(--toolbar-bg)
  box-shadow: 0 0 3px 0 #00000016
  border-radius: var(--element-roundness)
  opacity: .7

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar:after
  display: block

// ---
// -- Tab wrapper
// -
.PinnedTabsBar .tab-wrapper
  position: relative

  &:before
    content: ''
    position: absolute
    display: none
    top: 0
    left: 0
    width: 1px
    height: 100%
    z-index: 20
    background-color: var(--toolbar-fg)
    pointer-events: none
  &[data-targeted="true"]:before
    display: block
#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .tab-wrapper
  width: 100%

#root[data-pinned-tabs-position="left"] .PinnedTabsBar .tab-wrapper:before
#root[data-pinned-tabs-position="right"] .PinnedTabsBar .tab-wrapper:before
#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .tab-wrapper:before
  width: 100%
  height: 1px

// ---
// -- The last drop position
// -
.PinnedTabsBar .to-the-end
  position: relative
  opacity: 0
  transition: opacity var(--d-fast)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    background-color: var(--toolbar-fg)

#root[data-pinned-tabs-position="panel"] .PinnedTabsBar .to-the-end
#root[data-pinned-tabs-position="top"] .PinnedTabsBar .to-the-end
  &:before
    width: 1px
    height: var(--tabs-pinned-height)

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .to-the-end
  width: 100%
  &:before
    top: -1px
    width: 100%
    height: 1px

#root[data-pinned-tabs-position="left"] .PinnedTabsBar .to-the-end
#root[data-pinned-tabs-position="right"] .PinnedTabsBar .to-the-end
  width: 100%
  &:before
    width: var(--tabs-pinned-width)
    height: 1px

.PinnedTabsBar[data-dnd-end="true"] .to-the-end
  opacity: 1
