@import '../../../utils'

#root
  --history-info-bar-height: 26px
  --history-item-height: 24px
#root[data-color-scheme="dark"]
  --history-item-overlay-hover-bg: #ffffff12
  --history-item-overlay-hover-shadow: none
  --history-item-overlay-clicked-bg: #ffffff0b
  --history-item-overlay-clicked-shadow: none
  --history-item-overlay-selected-bg: #ffffff24
  --history-item-overlay-selected-shadow: inset 0 0 0 2px var(--selection-color)
#root[data-color-scheme="light"]
  --history-item-overlay-hover-bg: #ffffff36
  --history-item-overlay-hover-shadow: inset 0 0 0 1px #ffffff08
  --history-item-overlay-clicked-bg: #ffffff24
  --history-item-overlay-clicked-shadow: inset 0 0 0 1px #ffffff08
  --history-item-overlay-selected-bg: #ffffff64
  --history-item-overlay-selected-shadow: inset 0 0 0 2px var(--selection-color)

.HistoryPanel
  position: absolute
  display: flex
  width: 100%
  height: 100%
  flex-direction: column
  z-index: 100
  transition: transform var(--d-fast), opacity var(--d-fast), z-index var(--d-fast)
  box-shadow: 0 0 8px 0 var(--border), 0 -1px 0 0 var(--border)

.HistoryPanel .info-bar
  position: relative
  display: flex
  width: 100%
  height: var(--history-info-bar-height)
  justify-content: center
  align-items: center
  background-color: var(--element-bg)
  box-shadow: 0 0 3px 0 #00000016
  border-radius: var(--element-roundness)
  .title
    position: relative
    color: var(--toolbar-fg)
    font-size: rem(14)
    font-weight: 700

.HistoryPanel .history-groups
  position: relative
  padding: 1px 0 64px 0

.HistoryPanel .group
  position: relative

.HistoryPanel .group-list
  position: relative
  padding: 0 0 0 6px

.HistoryPanel .item
  position: relative
  margin: 0 0 1px

.HistoryPanel .item .body
  position: relative
  display: flex
  align-items: center
  height: var(--history-item-height)
  background-color: var(--element-bg)
  box-shadow: 0 0 3px 0 #00000016
  border-radius: var(--element-roundness)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: var(--element-roundness)
.HistoryPanel .item:hover .body:before
  background: var(--history-item-overlay-hover-bg)
  box-shadow: var(--history-item-overlay-hover-shadow)
.HistoryPanel .item:active .body:before
  background: var(--history-item-overlay-clicked-bg)
  box-shadow: var(--history-item-overlay-clicked-shadow)
.HistoryPanel .item[data-sel="true"] .body:before
  background: var(--history-item-overlay-selected-bg)
  box-shadow: var(--history-item-overlay-selected-shadow)

.HistoryPanel .item .fav
  position: relative
  width: 16px
  height: 16px
  flex-shrink: 0
  margin: 0 0 0 4px
  cursor: pointer
  > svg, > img
    position: absolute
    width: 16px
    height: 16px
    top: 0
    left: 0
    fill: var(--toolbar-fg)
  > svg
    opacity: .7
  &:hover > svg, &:hover > img
    opacity: .7
  &:active > svg, &:active > img
    opacity: .5

.HistoryPanel .item .inline-info
  position: relative
  margin: 0 3px 0 5px
  font-size: rem(12)
  color: var(--toolbar-fg)
  white-space: nowrap
  overflow: hidden
  flex-shrink: 0
  opacity: .7

.HistoryPanel .item .title
  position: relative
  width: 100%
  margin: 0 0 1px 5px
  font-size: rem(15)
  color: var(--toolbar-fg)
  white-space: nowrap
  overflow: hidden
  transition: transform var(--d-fast), color var(--d-fast)
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)


.HistoryPanel .history-groups .LoadingDots
  height: 36px


.HistoryPanel .controls
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 16px 8px 0
  transition: opacity var(--d-fast)
  &[data-loading="true"]
    opacity: .3
  &[data-all-loaded="true"]
    opacity: 0
    pointer-events: none

.HistoryPanel .controls .note
  position: relative
  text-align: center
  font-size: rem(14)
  font-weight: 700
  color: var(--toolbar-fg)
  cursor: pointer
  user-select: none
  opacity: .7
  &:hover
    opacity: .5
  &:active
    opacity: .3

#root[data-search="true"] .HistoryPanel .controls
  opacity: 0
  pointer-events: none
