@import '../../../mixins'

.TabsPanelRemoving .msg
  position: relative
  font-size: rem(16)
  padding: 0 8px
  color: var(--toolbar-fg)
  text-align: center

.TabsPanelRemoving .note
  position: relative
  font-size: rem(14)
  padding: 0 8px 8px
  color: var(--toolbar-fg)
  opacity: .7

.TabsPanelRemoving .ctrls .btn
  text-align: left
  min-width: auto
