@import '../../../mixins'

.WindowsPopup .list
  position: relative
  display: flex
  flex-direction: column
  min-height: 128px
  overflow: hidden
  background-color: var(--toolbar-bg-overlay)

// ---
// -- Window container
// -
.WindowsPopup .box
  position: relative
  padding: 8px 8px 0
  opacity: 0
  transform: translateY(16px)
  transition: opacity var(--d-fast), transform var(--d-fast)
  &:last-of-type
    padding-bottom: 64px

.WindowsPopup[data-ready="true"]
  .box
    opacity: 1
    transform: translateY(0)
  .box:nth-child(1)
    transition: opacity var(--d-fast), transform var(--d-fast)
  .box:nth-child(2)
    transition: opacity var(--d-fast) .1s, transform var(--d-fast) .1s
  .box:nth-child(3)
    transition: opacity var(--d-fast) .2s, transform var(--d-fast) .2s
  .box:nth-child(4)
    transition: opacity var(--d-fast) .3s, transform var(--d-fast) .3s
  .box:nth-child(5)
    transition: opacity var(--d-fast) .4s, transform var(--d-fast) .4s

// ---
// -- Window
// -
.WindowsPopup .win
  position: relative
  width: 100%
  max-height: 240px
  border-radius: 3px
  overflow: hidden
  box-shadow: 0 0 0 1px #00000032, 0 2px 8px 0 #00000032
  cursor: pointer
  opacity: .8
  transition: opacity var(--d-fast)
  &:hover
    opacity: 1
  &:active
    transition: none
    opacity: .8
.WindowsPopup .box[data-selected="true"] .win
  box-shadow: 0 0 0 1px var(--status-active), 0 2px 8px 0 #00000032
  opacity: 1

// ---
// -- Window title
// -
.WindowsPopup .window-title
  position: relative
  font-size: rem(14)
  color: var(--toolbar-fg)
  padding: 2px 8px
  margin: 0 0 1px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  background-color: #78787832
  box-shadow: 0 1px 0 0 #00000032
.WindowsPopup .box[data-no-screenshot="true"] .window-title
  font-size: rem(15)
  padding: 6px 8px
  margin: 0
  box-shadow: none

// ---
// -- Window screenshot
// -
.WindowsPopup .win > img
  position: relative
  display: block
  width: 100%
  max-width: 100%
  margin: 0
  padding: 0
