@import '../../../utils'

#root[data-color-scheme="dark"]
  --sub-list-title-fg: var(--ff-tab-background-text, var(--ff-toolbar-text, #eee))
#root[data-color-scheme="light"]
  --sub-list-title-fg: var(--ff-tab-background-text, var(--ff-toolbar-text, #111))

.SubListTitle
  position: relative
  z-index: 100
  width: 100%
  padding: 0 0 1px

.SubListTitle .body
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  background-color: var(--toolbar-bg)
  box-shadow: 0 0 3px 0 #00000016
  border-radius: var(--element-roundness)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-shadow: inset 0 0 0 1px var(--element-overlay-border)
    background-color: var(--element-overlay-bg)
    opacity: .1
    border-radius: var(--element-roundness)
.SubListTitle[data-sel="true"] .body:before
    opacity: .5
.SubListTitle:hover .body:before
  opacity: .2
.SubListTitle:active .body:before
  opacity: .6

.SubListTitle .title
  position: relative
  justify-content: center
  align-items: center
  padding: 6px 0
  margin: 0 auto 0 6px
  font-size: rem(16)
  font-weight: 700
  color: var(--toolbar-fg)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.SubListTitle .len
  position: relative
  justify-content: center
  align-items: center
  margin: 0 4px
  font-size: rem(13)
  color: var(--toolbar-fg)
  transition: opacity var(--d-fast)
  opacity: .7

.SubListTitle .expand
  position: relative
  width: 16px
  height: 16px
  margin: 0 4px 0 0
  fill: var(--toolbar-fg)
  flex-shrink: 0
  transition: transform var(--d-fast)
  opacity: .7
.SubListTitle[data-folded="true"] .expand
  transform: rotateZ(-90deg)
