@import '../styles/mixins'
@import '../styles/vars'
@import '../styles/btn'

html
  box(relative)
  size(h: 100%)
  text(s: 16px)

body
  box(relative)
  size(100%)
  text(sans-serif, smooth: on)
  padding: 0
  margin: 0
  -moz-user-select: none
  a
    text-decoration: none

.root
  box(relative, flex)
  size(rel(100%, -16px), min-h: 100%)
  flex-direction: column
  align-items: center
  padding: 0 8px
  margin: 0
  background-color: var(--bg)

// --- Hidden elements ---
.hidden
.hidden-assets
  box(absolute)
  pos(0, 0)
  size(0, 0)
  overflow: hidden
  opacity: 0

footer
  box(relative, flex)
  margin: 20px auto 50px
  justify-content: center
  align-items: center
  color: var(--inactive-fg)

  .github
  .amo
    box(relative)
    size(24px, same)
    opacity: .5
    transition: opacity var(--d-fast)
    &:hover
      opacity: 1
    &:active
      opacity: .7
    svg
      box(absolute)
      size(100%, same)
      fill: #646464
  
  .amo svg
    pos(-5px, r: 3px)
    transform: rotateZ(-45deg)

  .logo
    box(relative)
    size(36px, same)
    padding: 0 36px
    fill: #646464
    cursor: default
    opacity: .24
