@import '../../../mixins'

.ConfigPopup
  position: relative
  display: flex
  width: calc(100% - 64px)
  height: calc(100% - 32px)
  flex-direction: column
  overflow-y: auto
  padding: 32px 32px 0 32px
  background-attachment: local
  background-image: var(--bg-img)
  background-size: var(--bg-size)
  &:after
    content: ''
    position: relative
    width: 100%
    height: 32px
    flex-shrink: 0

.ConfigPopup > h2
.ConfigPopup > .title
  position: relative
  font-size: rem(28)
  font-weight: 400
  color: var(--toolbar-fg)
  margin: 0 12px 24px
  padding: 0
  input
    width: calc(100% - 16px)
    padding-left: 8px
    padding-right: 8px

.ConfigPopup .field
  position: relative
  padding: 0 0 16px

.ConfigPopup .label
  max-width: 70%

.ConfigPopup .TextInput
  line-height: 1.5

.ConfigPopup .TextField.custom-icon .body
  align-items: center

.ConfigPopup .TextField.custom-icon .TextInput
  margin: 8px 0 8px 32px
  flex-grow: 1

.ConfigPopup .TextField.custom-icon img
  position: relative
  width: 16px
  height: 16px
  margin: 0 0 0 16px

.ConfigPopup .TextField.custom-icon .btn
  font-size: rem(14)
  padding: 2px 8px
  margin-left: 8px

.ConfigPopup .TextField.custom-icon .note
  margin-top: 0

.ConfigPopup .ctrls[data-inactive="true"]
  opacity: .3
  > .btn
    cursor: default

// Bookmarks root dir
.ConfigPopup .InfoField.-folder
  .value
    font-size: rem(14)
    color: var(--toolbar-fg)
  .ctrls
    justify-content: flex-end
    width: 100%
    margin: 0
  .btn
    font-size: rem(14)
    padding: 3px 8px
    margin: 0

.ConfigPopup .error-msg
  position: relative
  padding: 16px
  font-size: rem(21)
  font-weight: 700
  color: var(--status-err)
