#root
  --element-roundness: 2px

// ---
// -- Base colors
// -
#root[data-color-scheme="dark"]
  --toolbar-bg: var(--ff-sidebar, var(--ff-toolbar, #323232))
  --toolbar-bg-overlay: #00000032
  --toolbar-fg:
    var(--ff-sidebar-text,
    var(--ff-icons,
    var(--ff-toolbar-text,
    var(--ff-bookmark-text,
    var(--ff-icons-attention, #fff)))))
  --status-ok: #64df64
  --status-err: #df6464
  --status-active: #4993E6
  --status-notice: #00e9fb
  --border-base: var(--toolbar-bg)
  --border: #00000032
  --border-flare: #ffffff08
  --element-overlay-bg: #ffffff64
  --element-overlay-border: #ffffff32
  --element-bg: var(--toolbar-bg)

#root[data-color-scheme="light"]
  --toolbar-bg: var(--ff-sidebar, var(--ff-toolbar, #fafafa))
  --toolbar-bg-overlay: #00000032
  --toolbar-fg:
    var(--ff-sidebar-text,
    var(--ff-icons,
    var(--ff-toolbar-text,
    var(--ff-bookmark-text,
    var(--ff-icons-attention, #000)))))
  --status-ok: #08bc2d
  --status-err: #d72f2f
  --status-active: #146fd9
  --status-notice: #01acda
  --border-base: var(--toolbar-bg)
  --border: #00000016
  --border-flare: #ffffff64
  --element-overlay-bg: #ffffffaa
  --element-overlay-border: #ffffff
  --element-bg: #ffffff56

// ---
// -- Local color
// -
#root[data-color-scheme="dark"] [data-color="toolbar"]
  --color: #f2f2f2
#root[data-color-scheme="light"] [data-color="toolbar"]
  --color: #121212
[data-color="blue"]
  --color: #37adff
[data-color="turquoise"]
  --color: #00c79a
[data-color="green"]
  --color: #51cd00
[data-color="yellow"]
  --color: #ffcb00
[data-color="orange"]
  --color: #ff9f00
[data-color="red"]
  --color: #ff613d
[data-color="pink"]
  --color: #ff4bda
[data-color="purple"]
  --color: #af51f5
[data-color="inactive"]
  --color: #787878

// ---
// -- Animation speed
// -
#root[data-animations="none"]
  --d-swift: 0s
  --d-fast: 0s
  --d-norm: 0s
  --d-slow: 0s
#root[data-animations="fast"]
  --d-swift: .1s
  --d-fast: .12s
  --d-norm: .2s
  --d-slow: .3s
#root[data-animations="norm"]
  --d-swift: .12s
  --d-fast: .16s
  --d-norm: .3s
  --d-slow: .42s
#root[data-animations="slow"]
  --d-swift: .16s
  --d-fast: .2s
  --d-norm: .3s
  --d-slow: .5s
