@import '../styles/mixins'
@import '../styles/themes/default/vars'
@import '../styles/themes/default/btn'

html
  box(relative)
  size(h: 100%)

body
  box(relative, flex)
  size(100%, min-h: 100%, max-h: 100%)
  text(sans-serif, smooth: on)
  overflow: hidden
  margin: 0
  justify-content: flex-start
  align-items: stretch
  padding: 0
  background-color: var(--bg)

.hidden
.hidden-assets
  box(absolute)
  pos(0, 0)
  size(0, 0)
  overflow: hidden
  opacity: 0

// --- Utils ---
section.utils
  box(relative, flex)
  size(55%)
  flex-direction: column
  -moz-user-select: none

  nav
    box(relative, flex, border-box)
    align-items: center
    padding: 16px
    box-shadow: inset 0 -1px 0 0 #00000032

  .tab
    box(relative)
    size(100%)
    text(s: rem(18px))
    text-align: center
    color: var(--info-fg)
    padding: 5px 12px
    cursor: pointer
    opacity: .8
    &:hover
      opacity: 1
    &:active
      opacity: .7
    &.-active
      color: var(--active-fg)
      opacity: 1

  .content
    box(relative)
    flex-grow: 1
    overflow: auto

  .selectors
    box(relative, border-box)
    padding: 16px 12px 16px 12px

  .selector
    box(relative)
    size(100%, min-w: max-content)
    text(monospace, s: rem(11))
    color: var(--label-fg)

    > svg
      box(absolute)
      pos(3px, 2px)
      size(13px, 13px)
      fill: var(--label-fg)
      opacity: .3
      transition: transform var(--d-fast), opacity var(--d-fast)
    
    &.-folded > svg
      transform: rotateZ(-90deg)
      fill: var(--false-fg)
      opacity: 1
    
    &:hover
      > svg
        opacity: 1

  .selector .body
    box(relative, flex)
    align-items: center
    padding: 0 0 0 16px
    border-radius: 3px
    &:hover
      opacity: .8
      background-color: #00000008
      box-shadow: 0 0 0 1px #00000032
    &:active
      opacity: .6
      background-color: #00000012
      box-shadow: 0 0 0 1px #00000036

    .tag
    .id
    .class
      flex-shrink: 0

    .tag
    .id
    .class
    .attr
      padding: 2px
      white-space: nowrap

    .tag
      color: var(--info-fg)
    
    .id
      color: var(--active-fg)
    
    .class
      color: var(--true-fg)
    
    .attr
      text(s: rem(10))
      color: var(--info-fg)
  
  .selector .children
    box(relative)
    padding: 0 0 0 10px

// --- CSS ---
section.css
  box(relative)
  size(45%)
  overflow: hidden
  background-color: #00000012
  box-shadow: inset 0 0 0 1px #00000016,
              inset 0 0 8px 0 #00000032

  .placeholder
    box(absolute)
    pos(b: 32px, r: -120px)
    text(s: rem(68), w: 700)
    color: var(--inactive-fg)
    white-space: pre
    opacity: 0
    transition: opacity var(--d-slow)
  &.-empty .placeholder
    opacity: .2

  .editor
    box(absolute, border-box)
    size(100%, 100%)
    text(monospace, s: rem(11))
    color: var(--true-fg)
    -webkit-appearance: none
    border: none
    outline: none
    margin: 0
    padding: 16px
    background-color: transparent
    resize: none