@import './mixins'
@import './vars'
@import './btn'
@import './dashboard'

html
  box(relative)
  size(h: 100%)

body
  box(relative)
  size(100%, 100%)
  text(smooth: on)
  a
    text-decoration: none

.root
  box(relative)
  size(100%, 100%)
  background-color: var(--bg)

// --- Hidden elements ---
.hidden
.hidden-assets
  box(absolute)
  pos(0, 0)
  size(0, 0)
  overflow: hidden
  opacity: 0
