@import './mixins'

.Menu > h2
  box(relative)
  text(s: rem(18), w: 400)
  color: var(--panel-menu-title-fg)
  margin: 16px 12px 12px
  padding: 0

.Menu .field
  box(relative)
  margin: 0 16px 8px
  cursor: pointer
  &[opt-true]
    .input > .opt
      color: var(--settings-opt-active-fg)
    .input > .opt.-true
      color: var(--settings-opt-true-fg)
    .input > .opt.-false
      color: var(--settings-opt-inactive-fg)

.Menu .input > .opt
  box(relative)
  text(s: rem(14))
  margin: 0 7px 0 0
  color: var(--settings-opt-inactive-fg)
  transition: color var(--d-fast)
  &.-false
    color: var(--settings-opt-false-fg)
  &[opt-true]
    color: var(--settings-opt-active-fg)
    &[opt-none]
      color: var(--settings-opt-false-fg)

.Menu .options
  box(relative, flex)
  flex-wrap: wrap
  flex-direction: column
  justify-content: flex-start
  margin: 8px 0 0

.Menu .options > .opt
  box(relative)
  text(s: rem(15))
  color: var(--ctx-menu-fg)
  padding: 4px 8px 4px 12px
  cursor: pointer
  transition: color var(--d-fast), background-color var(--d-fast)
  &:hover
    background-color: var(--ctx-menu-bg-hover)
  &:active
    transition: none
  &.-warn
    color: #ff613d
    &:hover
      background-color: #ff613d
      color: #ffffff
