@import '../../mixins'

.Bookmarks
  overflow: hidden

.Bookmarks .bookmarks-wrapper
  box(relative)
  padding-bottom: 64px

.Bookmarks[data-unrenderable]
  cursor: progress

// ---
// -- Root nodes
// -
.Bookmarks .node
  box(relative)
  opacity: 1
  transition: opacity var(--d-fast)

.Bookmarks[data-unrenderable] .node
  box(none)

.Bookmarks[data-invisible] .node
  opacity: 0

// ---
// -- Editor Transitions
// -
.Bookmarks
  .editor-enter-active
  .editor-leave-active
    transition: opacity var(--d-fast), z-index var(--d-fast)
    .editor-panel
      transition: transform var(--d-fast)
  .editor-enter
    opacity: 0
    z-index: 0
    .editor-panel
      transform: translateY(100%)
  .editor-enter-to
    opacity: 1
    z-index: 1000
    .editor-panel
      transform: translateY(0)
  .editor-leave
    opacity: 1
    z-index: 1000
    .editor-panel
      transform: translateY(0)
  .editor-leave-to
    opacity: 0
    z-index: 0
    .editor-panel
      transform: translateY(100%)
