@import '../../mixins'

.Separator
  box(relative)
  padding: 0
  margin: 0
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px

  &[data-selected]
    > .body:before
      opacity: 1
    > .body > .title
    > .body:hover > .title
      color: var(--tabs-selected-fg)

  > .body
    box(relative, flex)
    height: var(--bookmarks-separator-height)
    align-items: center
    cursor: pointer
    overflow: hidden
    transform: translateZ(0)
    transition: opacity var(--d-fast)
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    &:before
      content: ''
      box(absolute)
      size(100%, same)
      pos(0, 0)
      background-color: var(--tabs-selected-bg)
      opacity: 0
    &:after
      content: ''
      box(absolute)
      pos(8px, l: 16px)
      size(calc(100% - 32px), 1px)
      border-radius: 2px
      background-color: #00000032
      box-shadow: 0 1px 0 0 #ffffff08

.Separator:not([data-selected]) > .body:hover
    background-color: var(--bookmarks-node-bg-hover)
.Separator:not([data-selected]) > .body:active
    background-color: var(--bookmarks-node-bg-active)

.Separator .drag-layer
  box(absolute)
  size(100%, same)
  pos(0, 0)
  z-index: 15
