@import '../../mixins'

.Menu
  box(relative, grid)
  grid-gap: 3px 0

.Menu > h2
  box(relative)
  text(s: rem(24), w: 400)
  text-shadow: 1px 1px 0 var(--text-edge-color)
  color: var(--title-fg)
  margin: 12px 12px 12px
  padding: 0

.Menu  .ToggleField:last-of-type
  margin-bottom: 8px

.Menu .delimiter
  box(relative, block)
  margin: 4px auto 0

.delimiter
  box(none)

.options
  box(relative, flex)
  margin-top: 2px
  flex-wrap: wrap
  flex-direction: column
  justify-content: flex-start

.options > .opt
  box(relative)
  text(s: rem(15), w: 700)
  margin: 2px
  color: var(--label-fg)
  text-shadow: 1px 1px 0 var(--text-edge-color)
  padding: 4px 8px 4px 8px
  border-radius: 2px
  text-align: center
  margin-top: 1px
  cursor: pointer
  transition: color var(--d-fast), background-color var(--d-fast)
  box-shadow: inset 0 1px 0 0 #ffffff12,
              inset 1px 0 0 0 var(--border-fg),
              inset -1px 0 0 0 var(--border-fg),
              0 -1px 0 0 var(--border-fg),
              inset 0 -1px 0 0 var(--border-fg),
              0 1px 8px 0 #00000024
  background-image: linear-gradient(#ffffff08, #00000012)
  &:hover
    background-color: var(--ctx-menu-bg-hover)
  &:active
    transition: none
  &.-warn
    color: var(--false-fg)
    &:hover
      background-color: var(--false-bg)
      color: #ffffff
