@import '../../mixins'

// select-color.vue
// select-icon.vue

.IconSelectField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  -moz-user-select: none
  &:hover
    > .label
      opacity: 1
  &.-no-top-margin
    margin-top: 0

.IconSelectField > .label
  box(relative)
  text(s: rem(14), w: 700)
  margin: 0 0 5px
  color: var(--label-fg)
  text-shadow: 1px 1px 0 var(--text-edge-color)
