@import '../../mixins'

.ToggleField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  cursor: pointer
  -moz-user-select: none
  &[data-inactive]
    opacity: .2
    cursor: default
  &.-no-top-margin
    margin-top: 0
  &.-rm:before
    content: ''
    box(absolute)
    size(calc(100% + 6px), 100%)
    pos(0, -6px)
    outline: 2px dashed #ff110032
    outline-offset: -2px
    background-color: #ff110016

.ToggleField > .label
  box(relative)
  text(s: rem(14), w: 700)
  color: var(--label-fg)
  text-shadow: 1px 1px 0 var(--text-edge-color)
  transition: color var(--d-fast)

.ToggleField[data-inline]
  box(flex)
  margin: 0 12px 0 16px
  justify-content: space-between
  align-items: center
  >.input
    flex-shrink: 0
    margin-top: 0
  >.label
    margin-right: 12px
    overflow: hidden
    text-overflow: ellipsis