@import '../../mixins'

.SelectField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  cursor: pointer
  opacity: .8
  &:hover
    opacity: 1
  &:active
    opacity: .7
  &[data-inactive]
    opacity: .2
    cursor: default
  &[data-inline]
    box(flex)
  &.-no-top-margin
    margin-top: 0

.SelectField > .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  transition: color var(--d-fast)

.SelectField[data-inline] > .label
  flex-grow: 1
  margin: 0 auto 0 0