@import '../../mixins'

.SelectField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  cursor: pointer
  -moz-user-select: none
  &[data-inactive]
    opacity: .2
    cursor: default
  &[data-inline]
    box(flex)
  &.-no-top-margin
    margin-top: 0

.SelectField > .label
  box(relative)
  text(s: rem(14), w: 700)
  color: var(--label-fg)
  text-shadow: 1px 1px 0 var(--text-edge-color)
  transition: color var(--d-fast)

.SelectField[data-inline] > .label
  flex-grow: 1
  margin: 0 auto 0 0