@import '../../mixins'

.ColorInput
  box(relative, flex)
  justify-content: space-between
  align-items: center

.ColorInput > .color-wrapper
  box(relative)
  size(16px, same)
  flex-shrink: 0
  border-radius: 50%
  overflow: hidden
  margin: 0 8px 0 0
  padding: 0
  cursor: pointer
  transform: translateZ(0)
  box-shadow: 0 0 0 1px #cecece,
              0 0 0 2px #323232,
              0 1px 3px 0 #00000024

  > .color
    box(relative)
    size(calc(100% + 2px), same)
    pos(-1px, -1px)
    -webkit-appearance: none
    border: none
    outline: none
    margin: 0
    padding: 0
    background-color: transparent
    z-index: 0
    cursor: pointer

.ColorInput > .text
  box(relative)
  size(1px)
  color: var(--label-fg)
  -webkit-appearance: none
  border: none
  outline: none
  margin: 0
  padding: 0
  background-color: transparent
  z-index: 1
  flex-grow: 2