@import '../../mixins'

.SelectInput
  box(relative, flex)
  flex-wrap: wrap
  cursor: pointer
  &[opt-true]
    .opt
      color: var(--active-fg)

.SelectInput > .opt
  box(relative)
  text(s: rem(14))
  margin: 0 7px 0 0
  color: var(--inactive-fg)
  transition: color var(--d-fast)
  &[opt-true]
    color: var(--active-fg)
    &[opt-none]
      color: var(--false-fg)