@import '../../mixins'

.ToggleInput
  box(relative, flex)
  flex-wrap: wrap
  cursor: pointer
  &[opt-true]
    .opt.-true
      color: var(--true-fg)
    .opt.-false
      color: var(--inactive-fg)
  
.ToggleInput > .opt
  box(relative)
  text(s: rem(14))
  margin: 0 7px 0 0
  color: var(--inactive-fg)
  transition: color var(--d-fast)
  &.-false
    color: var(--false-fg)