@import '../../mixins'
// @import '../../base'

@import './vars'
@import './animations'

@import './btn'
@import './scroll-box'

@import './field.icon-select'
@import './field.select'
@import './field.style-color'
@import './field.style'
@import './field.toggle'

@import './input.color'
@import './input.icon-select'
@import './input.select'
@import './input.text'
@import './input.toggle'

html
  box(relative)
  size(h: 100%)
  text(s: 16px)

body
  box(relative)
  size(100%)
  text(sans-serif, smooth: on)
  padding: 0
  margin: 0
  -moz-user-select: none
  a
    text-decoration: none

.root
  box(relative, flex, border-box)
  size(100%)
  flex-direction: column
  align-items: center
  padding: 0 8px
  margin: 0
  background-color: var(--bg)

// --- Hidden elements ---
.hidden
.hidden-assets
  box(absolute)
  pos(0, 0)
  size(0, 0)
  overflow: hidden
  opacity: 0

footer
  box(relative, flex)
  margin: 20px auto 50px
  justify-content: center
  align-items: center
  color: var(--inactive-fg)

  .github
  .amo
    box(relative)
    size(24px, same)
    opacity: .5
    transition: opacity var(--d-fast)
    &:hover
      opacity: 1
    &:active
      opacity: .7
    svg
      box(absolute)
      size(100%, same)
      fill: #646464
  
  .amo svg
    pos(-5px, r: 3px)
    transform: rotateZ(-45deg)

  .logo
    box(relative)
    size(36px, same)
    padding: 0 36px
    fill: #646464
    cursor: default
    opacity: .24

// ---
// -- Settings root component
// -
.Settings
  box(relative)
  size(100%, max-w: 400px)
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start

.Settings h1
  box(relative)
  size(100%)
  text(s: 2.5rem, w: 700)
  padding: 30px 0
  color: var(--label-fg)
  text-align: center

.Settings section
  box(relative, grid)
  padding: 2px 8px 32px

.Settings section > h2
  box(relative)
  size(100%)
  text(s: rem(28), w: 400)
  color: var(--title-fg)
  text-align: center
  margin: 28px 0 24px

.Settings .separator
  box(relative)
  size(100%, 1px)
  background-color: #00000032
  box-shadow: 0 1px 0 0 #78787816
  margin: 8px 0

.Settings .ToggleField
.Settings .SelectField

  .ToggleInput
  .SelectInput

    .opt
      text(s: rem(15))
      margin: 0 8px 0 0

  .label
    text(s: rem(16))

.Settings .sub-fields
  box(relative)
  grid-gap: 16px 0
  margin: 0 12px 0 16px

.Settings .ctrls
  box(relative, flex)
  grid-gap: 8px 8px
  justify-content: center
  flex-wrap: wrap
  margin: 5px 16px

// --- Container ---
.Settings .box
  box(relative, flex)
  grid-gap: 16px 8px
  flex-wrap: wrap
  margin: 0 12px 0 16px

.Settings .box > .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  margin: 0

.Settings .info
  box(relative)
  text(s: rem(13)) 
  size(max-w: 100%)
  padding: 0 0 0 16px
  white-space: pre-wrap
  color: var(--info-fg)

.Settings .btn
  size(auto)
  padding: 5px 16px

// --- Keybindings ---
.Settings .keybinding
  box(relative, flex)
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  padding: 2px 0
  margin: 0 8px 0 16px
  cursor: pointer
  opacity: .8
  &:hover
    opacity: 1
  &:active
    opacity: .7
  &[is-focused]
    opacity: 1
    > .value
      color: var(--active-fg)
      box-shadow: inset 0 0 0 1px var(--active-fg)
    > .label
      color: var(--active-fg)

.Settings .keybinding > .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  margin: 0 6px 0 0
  transition: color var(--d-fast)

.Settings .keybinding > .value
  box(relative)
  text(s: rem(12))
  padding: 2px 6px
  margin: 1px 0 0 0
  color: var(--label-fg)
  background-color: #78787832
  box-shadow: inset 0 0 0 1px var(--info-fg)
  border-radius: 4px
  white-space: nowrap

.Settings .keybinding > input
  box(absolute)
  size(0, same)
  pos(0, 0)
  opacity: 0
  z-index: -1

.Settings .github
  box(relative, block)
  size(23px, same)
  margin: 24px auto 8px
  padding: 0
  opacity: .5
  &:hover
    opacity: .8
  &:active
    opacity: .5
  > svg
    box(absolute)
    size(100%, same)
    fill: #646464