@import '../../mixins'

.Tab
  box(relative, flex)
  pos(r: 0)
  width: 100%
  height: var(--tabs-height)
  align-items: center
  z-index: 10
  transform-origin: 50% 0%

  &:before
    content: ''
    box(absolute)
    size(100%, same)
    pos(0, 0)
    background-color: #ffffff12
    background-image: linear-gradient(0deg, #00000016, #00000000)
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    box-shadow: inset 0 1px 0 0 #ffffff12,
                inset 1px 0 0 0 var(--border-fg),
                0 -1px 0 0 var(--border-fg),
                inset 0 -1px 0 0 var(--border-fg),
                0 1px 8px 0 #00000024

  &:after
    content: ''
    box(absolute)
    size(3px, 3px)
    pos(3px, r: 3px)
    border-radius: 2px
    background-color: #ffffff
    box-shadow: 0 0 3px 0 #ffffff00
    opacity: 0

  &:hover:before
    background-color: var(--tabs-bg-hover)

  &:active:before
  &[data-active]:active:before
    background-color: var(--tabs-bg-active)

  &[data-lvl="1"]
    margin-left: var(--tabs-indent)
    width: calc(100% - var(--tabs-indent))
  &[data-lvl="2"]
    margin-left: calc(var(--tabs-indent) * 2)
    width: calc(100% - var(--tabs-indent) * 2)
  &[data-lvl="3"]
    margin-left: calc(var(--tabs-indent) * 3)
    width: calc(100% - var(--tabs-indent) * 3)
  &[data-lvl="4"]
    margin-left: calc(var(--tabs-indent) * 4)
    width: calc(100% - var(--tabs-indent) * 4)
  &[data-lvl="5"]
    margin-left: calc(var(--tabs-indent) * 5)
    width: calc(100% - var(--tabs-indent) * 5)
  &[data-lvl="6"]
    margin-left: calc(var(--tabs-indent) * 6)
    width: calc(100% - var(--tabs-indent) * 6)
  &[data-lvl="7"]
    margin-left: calc(var(--tabs-indent) * 7)
    width: calc(100% - var(--tabs-indent) * 7)
  &[data-lvl="8"]
    margin-left: calc(var(--tabs-indent) * 8)
    width: calc(100% - var(--tabs-indent) * 8)
  &[data-lvl="9"]
    margin-left: calc(var(--tabs-indent) * 9)
    width: calc(100% - var(--tabs-indent) * 9)
  &[data-lvl="10"]
    margin-left: calc(var(--tabs-indent) * 10)
    width: calc(100% - var(--tabs-indent) * 10)

  &[data-active]
    &:before
      border: var(--tabs-activated-border)
      box-shadow: inset 0 1px 0 0 #ffffff08,
                  inset 1px 0 0 0 var(--border-active-fg),
                  0 -1px 0 0 var(--border-active-fg),
                  inset 0 -1px 0 0 var(--border-active-fg)
      background-image: linear-gradient(180deg, #00000032, #00000000)
      background-color: var(--tabs-activated-bg)
    &:after
      opacity: 1
      box-shadow: 0 0 3px 0 #ffffff64
  
  &[data-loading="true"]
    cursor: progress

  &[data-selected]
  &[data-selected]:hover
  &[data-selected]:active
    z-index: 10
    border: var(--tabs-selected-border)
    box-shadow: var(--tabs-selected-shadow)
    &:before
      background-color: var(--tabs-selected-bg)

  &[data-discarded] > .lvl-wrapper > .fav
  &[data-discarded] > .lvl-wrapper > .t-box
    opacity: .56

// ---
// -- Level Wrapper
// -
.Tab .lvl-wrapper
  box(relative, flex)
  size(100%, same)
  align-items: center
  transition: opacity var(--d-fast)
  &:before
    content: ''
    box(absolute, none)
    size(3px, 3px)
    pos(calc(50% - 1px), -2px)
    border-radius: 50%
    opacity: .8

#root[data-tabs-tree-lvl-marks] .Tab .lvl-wrapper:before
  box(block)
  box-shadow: calc(var(--tabs-indent) / -2) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -1.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -2.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -3.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -4.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -5.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -6.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -7.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -8.5) 0 0 0 var(--tabs-lvl-indicator-bg),
              calc(var(--tabs-indent) * -9.5) 0 0 0 var(--tabs-lvl-indicator-bg)

// ---
// -- Drag layer
// -
.Tab .drag-layer
  box(absolute)
  size(100%, same)
  pos(0, 0)
  z-index: 15

// ---
// -- Audio
// -
.Tab .audio
  box(absolute)
  pos(0, 24px)
  size(16px, 100%)
  z-index: 1
  filter: drop-shadow(1px 1px 0 var(--text-edge-color))
  > svg
    box(absolute)
    pos(calc(50% - 5px), 5px)
    size(11px, same)
    fill: var(--title-fg)
    transition: opacity var(--d-fast)
    opacity: 0

.Tab[data-audible] .audio
.Tab[data-muted] .audio
  z-index: 20
  &:hover
    opacity: .7
  &:active
    opacity: .5

.Tab[data-audible]:not([data-muted]) svg.-loud
.Tab[data-muted] svg.-mute
  opacity: 1

// ---
// -- Favicon
// -
.Tab .fav
  box(relative)
  size(16px, same)
  flex-shrink: 0
  margin: 0 6px 0 7px
  opacity: 1
  z-index: 20
  transition: opacity var(--d-fast), transform var(--d-fast)
  &:after
    content: ''
    box(absolute)
    pos(b: -7px, l: -7px)
    size(0, 0)
    border-top: 3px solid transparent
    border-bottom: 3px solid transparent
    border-right: 3px solid var(--notice-fg)
    border-left: 3px solid transparent
    transform: rotateZ(-45deg)
    transition: opacity var(--d-fast)
    opacity: 0

.Tab:active .fav
  transition: none
  opacity: .7

.Tab[data-unread] .fav
  &:after
    opacity: 1

// ---
// -- Favicon placeholder
// -
.Tab .placeholder
  box(absolute)
  size(16px, same)
  pos(0, 0)
  filter: drop-shadow(1px 1px 0 var(--text-edge-color))
  > svg
    box(absolute)
    size(100%, same)
    pos(0, 0)
    fill: var(--favicons-placeholder-bg)

.Tab[data-parent] .fav:hover .placeholder
.Tab[data-parent][data-folded] .fav .placeholder
  // Dim if combined with exp icon
  opacity: .5

.Tab[data-updated] .placeholder
.Tab[data-pending] .placeholder
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 4px,
    #000000 5px,
    #000000
  )

.Tab[data-loading] .placeholder
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 7px,
    #000000 8px,
    #000000
  )

// ---
// -- Favicon image
// -
.Tab .fav > img
  box(absolute)
  size(100%, same)

.Tab[data-parent] .fav:hover > img
.Tab[data-parent][data-folded] .fav > img
  // Dim if combined with exp icon
  opacity: .2

.Tab[data-updated] .fav > img
.Tab[data-pending] .fav > img
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 4px,
    #000000 5px,
    #000000
  )

.Tab[data-loading] .fav > img
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 7px,
    #000000 8px,
    #000000
  )

// ---
// -- Tabs group expand icon
// -
.Tab .exp
  box(absolute)
  size(calc(100% + 8px), same)
  pos(-4px, -4px)
  opacity: 0
  z-index: -1
  cursor: pointer
  transform: scale(0.5, 0.5)
  transition: opacity var(--d-fast), transform var(--d-fast)
  > svg
    box(absolute)
    pos(5px, same)
    size(14px, same)
    fill: var(--tabs-exp-fg)

.Tab[data-parent] .fav:hover .exp
  z-index: 1
  opacity: 1
  transform: scale(1, 1)

.Tab[data-parent][data-folded] .fav .exp
  z-index: 1
  opacity: 1
  transform: scale(1, 1) rotateZ(-90deg)

// ---
// -- Progress spinner
// -
.Tab .progress-spinner
  box(absolute, border-box)
  size(12px, same)
  pos(b: -4px, r: -4px)
  border-radius: 50%
  border-top: 2px solid var(--progress-fg)
  border-left: 2px solid var(--progress-bg)
  border-right: 2px solid var(--progress-bg)
  border-bottom: 2px solid var(--progress-bg)
  animation: progress-animation .5s infinite linear

// ---
// -- Update / highlight badge
// -
.Tab .update-badge
  box(absolute)
  size(6px, same)
  pos(b: -1px, r: -1px)
  border-radius: 50%
  background-color: var(--tabs-update-badge-bg)
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)

.Tab:not([data-loading])[data-updated] .update-badge
  opacity: 1
  transform: scale(1, 1)

.Tab:not([data-loading])[data-pending] .update-badge
  opacity: 1
  transform: scale(1, 1)
  background-color: var(--tabs-fg)

// ---
// -- Ok / Err badges
// -
.Tab .ok-badge
.Tab .err-badge
  box(absolute)
  size(12px, same)
  pos(b: -4px, r: -4px)
  border-radius: 50%
  > svg
    box(absolute)
    size(100%, same)

.Tab .ok-badge > svg
  fill: var(--true-fg)

.Tab .err-badge > svg
  fill: var(--false-fg)

// ---
// -- Count of descendants
// -
.Tab .fav > .child-count
  box(absolute)
  size(8px)
  pos(b: -5px, r: -3px)
  font: var(--tabs-count-font)
  text-align: center
  color: var(--tabs-child-count-fg)
  transition: opacity var(--d-fast)

.Tab[data-loading] .fav > .child-count
  opacity: 0

// // ---
// // -- Context highlight
// // -
// .Tab .ctx
//   box(absolute)
//   pos(b: 10px, l: 0px)
//   size(2px, 10px)
//   z-index: 2000
//   box-shadow: 0 0 2px 0 #00000024

// ---
// -- Complete animation
// -
.Tab .complete-fx
  box(absolute)
  size(100%, calc(100% - 3px))
  pos(b: 2px, r: 0)
  border-radius: 2px
  background-image: linear-gradient(-90deg, #00000000, var(--tabs-loading-fg))
  opacity: 0
  transform: translateX(100%)

// ---
// -- Title box
// -
.Tab .t-box
  box(relative)
  size(100%)
  transition: opacity var(--d-fast), transform var(--d-fast)
  overflow: hidden
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)

#root[data-tabs-close-btn] .Tab:hover .t-box
  mask: linear-gradient(-90deg, transparent, transparent 24px, #000000 48px, #000000)

#root[data-tabs-close-btn] .Tab[data-audible]:hover .t-box
#root[data-tabs-close-btn] .Tab[data-muted]:hover .t-box
  mask: linear-gradient(-90deg, transparent, transparent 42px, #000000 64px, #000000)

.Tab[data-audible] .t-box
.Tab[data-muted] .t-box
  transform: translateX(16px)
  mask: linear-gradient(-90deg, transparent, transparent 16px, #000000 28px, #000000)

// ---
// -- Title
// -
.Tab .title
  box(relative)
  font: var(--tabs-font)
  color: var(--tabs-fg)
  padding: 0 1px
  white-space: nowrap
  overflow: hidden
  transition: color var(--d-fast)
  text-shadow: 1px 1px 0 var(--text-edge-color)

.Tab:hover .title
  color: var(--tabs-fg-hover)

.Tab[data-active] .title
  text-shadow: 1px 1px 0 #ffffff00
  color: var(--tabs-activated-fg)

.Tab[data-selected] .title
  color: var(--tabs-selected-fg)

// ---
// -- Container highlight
// -
.Tab .ctx
  box(absolute)
  pos(2px, 0)
  size(2px, calc(100% - 5px))
  z-index: 2000
  box-shadow: inset 1px 0 0 0 #00000032
  background-color: var(--container-fg)

// ---
// -- Close button
// -
.Tab .close
  box(absolute)
  pos(0, r: 0)
  size(30px)
  height: var(--tabs-height)
  cursor: pointer
  z-index: 20
  opacity: 0
  &:hover > svg
    fill: var(--tabs-close-hover-fg)
    stroke: var(--tabs-close-hover-fg)
  > svg
    box(absolute)
    pos(calc(50% - 7px), calc(50% - 7px))
    size(15px, same)
    fill: var(--tabs-close-fg)
    stroke: var(--tabs-close-fg)
    stroke-width: .5px
    transition: fill var(--d-fast)

.Tab:hover .close
  opacity: 1

// ---
// -- Transitions
// -
.tab-enter-active
.tab-leave-active
  transition: transform var(--d-fast), opacity var(--d-fast)
.tab-leave-active
  box(absolute)
.tab-move
  transition: transform var(--d-fast), opacity var(--d-fast)
.tab-enter
  opacity: 0
  transform: scale(1, 0.8)
.tab-enter-to
  opacity: 1
  transform: scale(1, 1)
.tab-leave
  opacity: 0
  transform: scale(1, 1)
.tab-leave-to
  opacity: 0
  transform: scale(1, 0.8)

.tab-part-enter-active
.tab-part-leave-active
  transition: transform var(--d-fast), opacity var(--d-fast)
.tab-part-enter
  opacity: 0
  transform: scale(0.5, 0.5)
.tab-part-enter-to
  opacity: 1
  transform: scale(1, 1)
.tab-part-leave
  opacity: 1
  transform: scale(1, 1)
.tab-part-leave-to
  opacity: 0
  transform: scale(0.5, 0.5)

.tab-complete-leave-to
  animation: complete-animation .4s
