html {
  position: relative;
  height: 100%;
  min-height: 360px;
  font-size: 16px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.2rem;
}

h2 {
  max-width: 450px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #363636;
  cursor: default;
}
