@import '../../../mixins'

.SubListTitle
  position: relative
  z-index: 100
  background-color: var(--frame-bg)
  width: 100%
  padding: 1px 0 0

.SubListTitle .body
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  &:before
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 3px
    opacity: .08
  &:before
    background-color: var(--frame-fg)
  &:after
    opacity: 0
    box-shadow: inset 0 0 0 1px var(--frame-fg)
.SubListTitle:hover .body:before
  opacity: .12
.SubListTitle:active .body:before
  opacity: .16
  box-shadow: inset 0 0 0 1px var(--active-border)
.SubListTitle[data-sel="true"] .body:before
.SubListTitle[data-sel="true"] .body:after
  opacity: .2

.SubListTitle .title
  position: relative
  justify-content: center
  align-items: center
  padding: 5px 0
  margin: 0 auto 0 6px
  font-size: rem(16)
  font-weight: 700
  color: var(--frame-fg)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.SubListTitle .len
  position: relative
  justify-content: center
  align-items: center
  margin: 0 3px
  font-size: rem(12)
  color: var(--frame-fg)
  transition: opacity var(--d-fast)
  opacity: .7
.SubListTitle:hover .len
  opacity: .5

.SubListTitle .expand
  position: relative
  width: 16px
  height: 16px
  margin: 0 3px 0 0
  fill: var(--frame-fg)
  flex-shrink: 0
  transition: transform var(--d-fast)
  opacity: .7
.SubListTitle[data-folded="true"] .expand
  transform: rotateZ(-90deg)
