@import '../../mixins'

.Bookmark
  box(relative)
  padding: 0 0 0 12px
  margin: 0
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px
  &:before
    content: ''
    box(absolute)
    pos(0, r: 0)
    size(100vw, 100%)
    background-color: var(--tabs-selected-bg)
    z-index: -1
    opacity: 0
    transform: scale(0, 0)
    transition: opacity var(--d-fast),
                z-index var(--d-fast),
                transform 0s var(--d-fast)

  &[data-selected]:before
    opacity: 1
    z-index: 0
    transform: scale(1, 1)
    transition: opacity var(--d-fast),
                z-index var(--d-fast),
                transform 0s 0s

// ---
// -- Body
// -
.Bookmark > .body
  box(relative, flex)
  height: var(--bookmarks-bookmark-height)
  align-items: center
  cursor: pointer
  transform: translateZ(0)
  transition: opacity var(--d-fast)
  &:before
    content: ''
    box(absolute)
    pos(0, r: 0)
    size(100vw, 100%)

.Bookmark:not([is-selected]) > .body:hover:before
    background-color: var(--bookmarks-node-bg-hover)

.Bookmark:not([is-selected]) > .body:active:before
    background-color: var(--bookmarks-node-bg-active)

// ---
// -- Drag layer
// -
.Bookmark .drag-layer
  box(absolute)
  size(100%, same)
  pos(0, 0)
  z-index: 15

// ---
// -- Favicon
// -
.Bookmark .fav
  box(relative)
  size(16px, same)
  flex-shrink: 0
  margin: 0 8px 0 0
  z-index: 20
  transition: opacity var(--d-fast), transform var(--d-fast)

// ---
// -- Placeholder of favicon
// -
.Bookmark .fav > .placeholder
  box(absolute)
  size(16px, same)
  pos(0, 0)
  opacity: 0
  transform: translateY(4px)
  transition: opacity var(--d-fast), transform var(--d-fast)
  > svg
    box(absolute)
    size(100%, same)
    pos(0, 0)
    fill: var(--favicons-placehoder-bg)

.Bookmark[data-favless] .fav .placeholder
  opacity: 1
  transform: translateY(0)

// ---
// -- Favicon's image
// -
.Bookmark .fav > img
  box(absolute)
  pos(0, 0)
  size(100%, same)
  transition: opacity var(--d-fast), transform var(--d-fast)

.Bookmark[data-favless] .fav > img
  opacity: 0
  transform: translateY(-4px)

// ---
// -- Title
// -
.Bookmark .title
  box(relative)
  size(100%)
  font: var(--bookmarks-bookmark-font)
  color: var(--bookmarks-node-title-fg)
  white-space: nowrap
  overflow: hidden
  transition: transform var(--d-fast), color var(--d-fast)
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)

.Bookmark:hover .title
  transition: transform var(--d-fast)
  color: var(--bookmarks-node-title-fg-hover)

.Bookmark:active .title
  transition: none
  color: var(--bookmarks-node-title-fg-active)

.Bookmark[data-opened] .title
  color: var(--active-fg)

.Bookmark[data-selected] .title
  color: var(--tabs-selected-fg)
