@import '../../mixins'

.Dashboard
  box(relative, flex)
  flex-direction: column

.Dashboard > h2
  box(relative)
  text(s: rem(24), w: 400)
  color: var(--title-fg)
  margin: 12px 12px 12px
  padding: 0

.Dashboard .fields
  box(relative, flex)
  flex-direction: column
  grid-gap: 3px 0

.delimiter
  box(relative, none)
  size(128px, 1px)
  flex-shrink: 0
  margin: 8px auto
  opacity: .5
  background-image: linear-gradient(90deg, #00000000, var(--inactive-fg), var(--inactive-fg), #00000000)

.options
  box(relative, flex)
  flex-wrap: wrap
  flex-direction: column
  justify-content: flex-start
  padding: 8px 0
  box-shadow: inset 0 -1px 0 0 var(--border-fg)

.Dashboard .options
  margin: 8px 0 0
  box-shadow: inset 0 1px 0 0 var(--border-flare-fg),
              0 -1px 0 0 var(--border-fg),
              inset 0 -1px 0 0 var(--border-fg)

.options > .opt
  box(relative)
  text(s: rem(15))
  color: var(--ctx-menu-fg)
  padding: 4px 8px 4px 12px
  cursor: pointer
  transition: color var(--d-fast), background-color var(--d-fast)
  &:hover
    background-color: var(--ctx-menu-bg-hover)
  &:active
    transition: none
  &.-warn
    color: var(--ctx-menu-warn-fg)
    &:hover
      background-color: var(--ctx-menu-warn-bg-hover)
      color: var(--ctx-menu-fg)

.dash-ctrls
  box(relative, flex)
  box-shadow: inset 0 1px 0 0 var(--border-flare-fg)

.dash-ctrls .ctrl-left
.dash-ctrls .ctrl-rm
.dash-ctrls .ctrl-right
  box(relative, flex)
  size(h: 30px)
  flex: 1
  padding: 1px 0 0
  cursor: pointer
  > svg
    box(absolute)
    pos(calc(50% - 8px), same)
    size(16px, same)
    fill: var(--label-fg)
  &:hover
    background-color: #00000032
  &:active
    opacity: .7

.dash-ctrls .ctrl-left > svg
  transform: rotate(90deg)

.dash-ctrls .ctrl-rm
  > svg
    pos(calc(50% - 10px), same)
    size(20px, same)
    fill: var(--false-fg)
  &:hover
    background-color: var(--false-bg)
    > svg
      fill: var(--label-fg)

.dash-ctrls .ctrl-right > svg
  size(16px, same)
  transform: rotate(-90deg)