@import '../../mixins'

.ToggleField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  cursor: pointer
  opacity: .8
  &:hover
    opacity: 1
  &:active
    opacity: .7

  &[data-inactive]
    opacity: .2
    cursor: default

  &[data-inline]
    box(flex)
    margin: 0 12px 0 16px
    justify-content: space-between
    align-items: center

  &.-no-top-margin
    margin-top: 0

  &.-rm:before
    content: ''
    box(absolute)
    size(calc(100% + 6px), 100%)
    pos(0, -6px)
    outline: 2px dashed #ff110032
    outline-offset: -2px
    background-color: #ff110016

// ---
// -- Label
// -
.ToggleField .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  transition: color var(--d-fast)

.ToggleField[data-inline] .label
  margin-right: 12px
  overflow: hidden
  text-overflow: ellipsis

// ---
// -- Input
// -
.ToggleField[data-inline] .input
  flex-shrink: 0
