@import '../../mixins'

.ColorField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  &:hover
    > .label
      color: var(--label-fg-hover)
  &.-no-top-margin
    margin-top: 0

.ColorField > .label
  box(relative)
  text(s: rem(15))
  color: var(--label-fg)
  transition: color var(--d-fast)

.ColorField > .input-group
  box(relative, flex)
  align-items: center
  margin: 6px 0 0

  > .color-input
    box(relative)
    size(100%)
    text(s: rem(15))
    color: var(--label-fg)
    margin: 0 16px 0 0
    transform: opacity var(--d-fast)

  > .toggle
    flex-shrink: 0

  &:not(.-activated) > .color-input
    opacity: .5