@import '../../mixins'

.StyleField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  -moz-user-select: none

// ---
// -- Label
// -
.StyleField .label
  box(relative, flex)
  text(s: rem(15))
  justify-content: space-between
  align-items: center
  color: var(--label-fg)
  transition: color var(--d-fast)

.StyleField .var
  text(monospace, s: rem(11))
  text-align: right
  margin-left: 12px
  color: var(--info-fg)

.StyleField:hover .label
  color: var(--label-fg-hover)

// ---
// -- Inputs container
// -
.StyleField .input-group
  box(relative, flex)
  align-items: center
  margin: 6px 0 0

// ---
// -- Text input
// -
.StyleField .text-input
  box(relative)
  size(100%)
  text(s: rem(15))
  color: var(--label-fg)
  margin: 0 16px 0 0
  transform: opacity var(--d-fast)

// ---
// -- Color input
// -
.StyleField:not([data-active]) .color-input
  opacity: .5

// ---
// -- Toggle input
// -
.StyleField .toggle
  flex-shrink: 0
