@import '../../mixins'

.InfoField
  box(relative)
  padding: 2px 0
  margin: 0 12px 0 16px
  cursor: pointer
  -moz-user-select: none

  &.-no-top-margin
    margin-top: 0

// ---
// -- Label
// -
.InfoField .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  transition: color var(--d-fast)

.InfoField:hover .label
  color: var(--label-fg-hover)

.InfoField:active .label
  transition: none
  color: var(--label-fg-active)

// ---
// -- Info
// -
.InfoField .info
  box(relative)
  text(s: rem(14))
  color: var(--active-fg)
