@import '../../mixins'
@import '../../base'

@import './vars'
@import './animations'

@import './btn'
@import './sidebar'
@import './scroll-box'
@import './context-menu'
@import './bookmarks-editor'

@import './tabs'
@import './tabs.tab'

@import './pinned-dock'
@import './pinned-tab'

@import './bookmarks'
@import './bookmarks.separator'
@import './bookmarks.folder'
@import './bookmarks.bookmark'

@import './dashboard'
@import './dashboard.containered-tabs'

@import './field.info'
@import './field.icon-select'
@import './field.select'
@import './field.style-color'
@import './field.style'
@import './field.toggle'

@import './input.color'
@import './input.icon-select'
@import './input.select'
@import './input.text'
@import './input.toggle'
@import './input.window-select'
