@import '../../mixins'

.ToggleInput
  box(relative, flex)
  flex-wrap: wrap
  grid-gap: 8px 8px
  cursor: pointer

// ---
// -- Option
// -
.ToggleInput .opt
  box(relative)
  text(s: rem(15))
  color: var(--inactive-fg)
  transition: color var(--d-fast)
  &.-false
    color: var(--false-fg)

.ToggleInput[data-active] .opt.-true
  color: var(--true-fg)

.ToggleInput[data-active] .opt.-false
  color: var(--inactive-fg)
