@import '../../mixins'

.SelectInput
  box(relative, flex)
  size(max-w: 55%)
  justify-content: flex-end
  padding-left: 16px
  flex-wrap: wrap
  grid-gap: 8px 8px
  cursor: pointer


// ---
// -- Option
// -
.SelectInput .opt
  box(relative)
  text(s: rem(15))
  color: var(--inactive-fg)
  transition: color var(--d-fast)
  &:hover
    color: var(--info-fg)
  &[data-active]
    color: var(--active-fg)
    &[data-none]
      color: var(--false-fg)
