@import '../../mixins'

// For:
// - color-select.vue
// - icon-select.vue

.IconSelectInput
  box(relative, flex)
  flex-wrap: wrap

// ---
// -- Option
// -
.IconSelectInput .icon
  box(relative, flex)
  size(26px, same)
  justify-content: center
  align-items: center
  margin: 0
  opacity: .5
  border-radius: 3px
  filter: grayscale(0.5)
  &:hover
    opacity: .7
  &:active
    opacity: .5
  &[data-active]
    opacity: 1
    filter: grayscale(0)
  
  > svg
    box(absolute)
    size(16px, same)
    transition: opacity var(--d-fast)
