@import '../../mixins'

// --- Pinned tabs dock
.PinnedDock
  box(relative, flex)
  z-index: 2000
  background-color: var(--bg)
  &:before
    content: ''
    box(absolute)
    pos(0, 0)
    size(100%, same)
    background-color: var(--pinned-dock-overlay-bg)
    box-shadow: var(--pinned-dock-overlay-shadow)
  &[is-empty]
    box(none)

// Per-Panel
#root.-pinned-tabs-panel .PinnedDock
  size(100%, auto)
  flex-wrap: wrap
  flex-direction: row
  padding: 1px 0
  box-shadow: inset 0 1px 0 0 #00000024,
              inset 0 -1px 0 0 #00000024,
              inset 0 0 8px 0 #00000032

// Left
#root.-pinned-tabs-left .PinnedDock
  size(auto, 100%)
  flex-direction: column
  padding: 0 1px 0 0
  box-shadow: inset -1px 0 0 0 #00000024,
              inset 0 0 8px 0 #00000032

// Right
#root.-pinned-tabs-right .PinnedDock
  size(auto, 100%)
  flex-direction: column
  padding: 0 0 0 1px
  box-shadow: inset 1px 0 0 0 #00000024,
              inset 0 0 8px 0 #00000032

// Top
#root.-pinned-tabs-top .PinnedDock
  size(100%, auto)
  flex-wrap: wrap
  flex-direction: row
  padding: 1px 0
  box-shadow: inset 0 1px 0 0 #00000024,
              inset 0 -1px 0 0 #00000024,
              inset 0 0 8px 0 #00000032

// The last drop position
.PinnedDock .to-the-end
  box(relative)
  opacity: 0
  transition: opacity var(--d-fast)
  &:before
    content: ''
    box(absolute)
    pos(0, 0)
    background-color: var(--tabs-update-badge-bg)

#root.-pinned-tabs-panel.-pinned-tabs-list
  .PinnedDock .to-the-end
    box(none)

#root.-pinned-tabs-panel .PinnedDock .to-the-end
#root.-pinned-tabs-top .PinnedDock .to-the-end
  size(0, 32px)
  &:before
    size(1px, 32px)

#root.-pinned-tabs-left .PinnedDock .to-the-end
#root.-pinned-tabs-right .PinnedDock .to-the-end
  size(32px, 0)
  &:before
    size(32px, 1px)

.PinnedDock[drag-pointed] .to-the-end
  opacity: 1
