@import '../../mixins'

.PinnedTab
  --pinned-tab-size: 32px

  box(relative, flex)
  size(32px, same)
  width: var(--pinned-tab-size)
  overflow: hidden
  justify-content: center
  align-items: center
  border: var(--tabs-border)
  box-shadow: var(--tabs-shadow)
  transform: translateZ(0)
  transition: opacity var(--d-fast), transform .12s, z-index 0s .2s
  &:hover
    background-color: var(--tabs-bg-hover)
  &:hover
  &[is-active]:hover
    .fav
      opacity: .7
    .title
      color: var(--tabs-fg-hover)
  &:active
  &[is-active]:active
    background-color: var(--tabs-bg-active)
    .fav
      transition: none
      opacity: .5

  &:before
    content: ''
    box(absolute)
    size(100%, same)
    pos(1px, 1px)
    opacity: 0
    transition: opacity var(--d-fast)

  &[is-active]
    background-color: var(--tabs-activated-bg)
    border: var(--tabs-activated-border)
    box-shadow: var(--tabs-activated-shadow)
    .fav
      opacity: 1
    .title
      color: var(--tabs-activated-fg)

  &[close-btn]:hover
    &[data-audible] .t-box
    &[data-muted] .t-box
      mask: linear-gradient(-90deg, transparent, transparent 42px, #000000 64px, #000000)
    .t-box
      mask: linear-gradient(-90deg, transparent, transparent 24px, #000000 48px, #000000)

  &[data-no-fav]
    .fav > .placeholder
      opacity: 1
      transform: translateY(0)
    .fav > img
      opacity: 0
      transform: translateY(-4px)

  &[is-selected]
  &[is-selected]:active
    z-index: 10
    background-color: var(--tabs-selected-bg)
    border: var(--tabs-selected-border)
    box-shadow: var(--tabs-selected-shadow)
    .title
      color: var(--tabs-selected-fg)
  
  &[discarded]
    opacity: .5

  &[updated] .fav
    > img
      mask: radial-gradient(
        circle at calc(100% - 2px) calc(100% - 2px),
        #00000032,
        #00000032 4px,
        #000000 5px,
        #000000
      )
    > .update-badge
      opacity: 1
      transform: scale(1, 1)

#root.-pinned-tabs-panel.-pinned-tabs-list
  .PinnedTab
    size(100%)
    justify-content: flex-start
    height: var(--tabs-height)
    padding-left: 1px
  .PinnedTab:before
    box-shadow: 0 -1px 0 0 var(--tabs-update-badge-bg)
  .PinnedTab .audio-badge
    pos(l: 16px)

#root.-pinned-tabs-panel
#root.-pinned-tabs-top
  .PinnedTab:before
    box-shadow: -1px 0 0 0 var(--tabs-update-badge-bg)

#root.-pinned-tabs-left
#root.-pinned-tabs-right
  .PinnedTab:before
    box-shadow: 0 -1px 0 0 var(--tabs-update-badge-bg)

// --- Level Wrapper
.PinnedTab .lvl-wrapper
  box(relative, flex)
  size(100%, same)
  align-items: center

// --- Drag layer ---
.PinnedTab .drag-layer
  box(absolute)
  size(100%, same)
  pos(0, 0)
  z-index: 25

// --- Audio ---
.PinnedTab .audio
  box(absolute)
  pos(0, 24px)
  size(16px, 100%)
  z-index: 1
  opacity: 0
  transform: translateX(-100%)
  transition: opacity var(--d-fast), transform var(--d-fast)

  > svg
    box(absolute)
    pos(9px, 6px)
    size(11px, same)
    fill: var(--tabs-fg)
    transition: opacity var(--d-fast)

  > svg.-mute
    opacity: 0

// --- Favicon ---
.PinnedTab .fav
  box(relative)
  size(16px, same)
  margin: 0 6px
  flex-shrink: 0
  opacity: 1
  z-index: 20
  transition: opacity var(--d-fast), transform var(--d-fast)

// --- Placeholer
.PinnedTab .fav > .placeholder
  box(absolute)
  size(16px, same)
  pos(0, 0)
  opacity: 0
  transform: translateY(4px)
  transition: opacity var(--d-fast), transform var(--d-fast)
  > svg
    box(absolute)
    size(100%, same)
    pos(0, 0)
    fill: var(--favicons-placehoder-bg)

// --- Favicon image
.PinnedTab .fav > img
  box(absolute)
  size(100%, same)
  transition: opacity var(--d-fast), transform var(--d-fast)

// --- Loading
.PinnedTab .fav > .loading-spinner
  box(absolute)
  size(10px, same)
  pos(b: -4px, r: -4px)
  border-radius: 50%
  opacity: 0
  transition: opacity var(--d-norm)

  > .spinner-stick
    box(absolute)
    size(1px, 4px)
    pos(calc(50% - 2px), calc(50% - 1px))
    opacity: 0

    &:before
      box(absolute)
      pos(4px, 0)
      size(100%, same)
      background-color: var(--tabs-loading-fg)
      content: ''
  for i in 0..12
    > .spinner-stick-{i}
      transform: rotateZ((i * 30)deg)
      animation: none

.PinnedTab[loading="true"]:not([data-audible]):not([data-muted]) .fav
    cursor: progress
    > .loading-spinner
      opacity: 1
      for i in 0..12
        > .spinner-stick-{i}
          animation: loading-spin .6s (i*50)ms infinite
.PinnedTab[loading="ok"] .fav > .ok-badge
  opacity: 1
  transform: scale(1, 1)
.PinnedTab[loading="err"] .fav > .err-badge
  opacity: 1
  transform: scale(1, 1)
.PinnedTab[loading] .fav > img
  mask: radial-gradient(
    circle at calc(100% - 1px) calc(100% - 1px),
    #00000032,
    #00000032 7px,
    #000000 8px,
    #000000
  )

// --- Updated (highlight)
.PinnedTab .fav > .update-badge
  box(absolute)
  size(6px, same)
  pos(b: -1px, r: -1px)
  border-radius: 50%
  background-color: var(--tabs-update-badge-bg)
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)

// --- Ok / Error badges
.PinnedTab .fav > .ok-badge
.PinnedTab .fav > .err-badge
  box(absolute)
  size(10px, same)
  pos(b: -3px, r: -3px)
  border-radius: 50%
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)
  > svg
    box(absolute)
    size(100%, same)

.PinnedTab .fav > .ok-badge > svg
  fill: var(--true-fg)

.PinnedTab .fav > .err-badge > svg
  fill: var(--false-fg)

// --- Audio badge
.PinnedTab .audio-badge
  box(absolute)
  size(10px, same)
  pos(calc(50% + 1px), 17px)
  border-radius: 50%
  opacity: 0
  z-index: -1
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm), z-index var(--d-norm)
  > svg
    box(absolute)
    size(100%, same)
    fill: var(--label-fg)
    opacity: 0
    transition: opacity var(--d-norm)

.PinnedTab[data-audible]
.PinnedTab[data-muted]
  .fav > img
    mask: radial-gradient(
      circle at calc(100% - 2px) calc(100% - 2px),
      #00000032,
      #00000032 6.5px,
      #000000 7.5px,
      #000000
    )
  .audio-badge
    z-index: 200
    opacity: 1
    transform: scale(1, 1)

.PinnedTab[data-audible]
  .audio-badge > svg.-loud
    opacity: 1

.PinnedTab[data-muted]
  .audio-badge > svg.-mute
    opacity: 1

// --- Loaded fx
.PinnedTab .loaded-fx
  box(absolute)
  size(100%, same)
  pos(0, 0)
  background-image: linear-gradient(90deg, #00000000, var(--tabs-loading-fg))
  opacity: 0
  transform: translateX(-100%)
.PinnedTab.-loaded .loaded-fx
  animation: tab-loaded .2s

// --- Context highlight
.PinnedTab .ctx
  box(absolute)
  pos(3px, 3px)
  size(7px, 7px)
  border-radius: 50%
  z-index: 2000
  box-shadow: inset 0 0 1px 0 var(--title-fg)

// --- Drop slot
.PinnedTab[drop-slot]
  &:before
    opacity: 1

// --- Title
.PinnedTab .title
  box(relative)
  flex-grow: 1
  font: var(--tabs-font)
  color: var(--tabs-fg)
  padding: 0 1px
  transition: color .2s
  white-space: nowrap
  overflow: hidden
  transition: transform var(--d-fast), color var(--d-fast), mask var(--d-fast)
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)

// --- Close button
.PinnedTab .close
  box(absolute, none)
  pos(0, r: 0)
  size(31px)
  height: var(--tabs-height)
  cursor: pointer
  z-index: 30
  opacity: 0
  &:hover > svg
    fill: #ea4335
  &:active > svg
    transition: none
    fill: #fa5335
  > svg
    box(absolute)
    pos(calc(50% - 8px), same)
    size(17px, same)
    fill: #a63626
    transition: fill var(--d-fast)
#root.-pinned-tabs-panel.-pinned-tabs-list
  .PinnedTab .close
    box(block)
  .PinnedTab:hover
    .title
      mask: linear-gradient(-90deg, transparent, transparent 25px, #000000 50px, #000000)
    .close
      opacity: 1