@import '../../mixins'

@import './vars'
@import './animations'

@import './btn'
@import './scroll-box'

@import './field.icon-select'
@import './field.select'
@import './field.style-color'
@import './field.style'
@import './field.num'
@import './field.toggle'

@import './input.color'
@import './input.icon-select'
@import './input.select'
@import './input.text'
@import './input.toggle'

html
  box(relative)
  size(h: 100%)
  text(s: 16px)

body
  box(relative)
  size(100%, same)
  text(sans-serif, smooth: on)
  overflow: hidden
  padding: 0
  margin: 0
  a
    text-decoration: none

.root
  box(relative, flex, border-box)
  size(100%, same)
  flex-direction: column
  align-items: center
  background-color: var(--bg)

  &[data-style]
    opacity: 1

.root > .nav
  box(relative, flex)
  size(100%, 64px)
  justify-content: center
  align-items: center
  background-color: var(--bg)
  z-index: 1
  padding: 0
  &:before
    content: ''
    box(absolute)
    size(100%, 1px)
    pos(b: 0, l: 0)
    background-color: var(--border-fg)

.root > .nav > .option
  box(relative)
  text(s: rem(18))
  color: var(--inactive-fg)
  padding: 8px 16px
  cursor: pointer
  -moz-user-select: none
  &:hover
    color: var(--info-fg)
  &[data-active]
    color: var(--active-fg)

// --- Hidden elements ---
.hidden
.hidden-assets
  box(absolute)
  pos(0, 0)
  size(0, 0)
  overflow: hidden
  opacity: 0

footer
  box(relative, flex)
  margin: 20px auto 50px
  justify-content: center
  align-items: center
  color: var(--inactive-fg)

  .github
  .amo
    box(relative)
    size(24px, same)
    opacity: .5
    transition: opacity var(--d-fast)
    &:hover
      opacity: 1
    &:active
      opacity: .7
    svg
      box(absolute)
      size(100%, same)
      fill: #646464
  
  .amo svg
    pos(-5px, r: 3px)
    transform: rotateZ(-45deg)

  .logo
    box(relative)
    size(36px, same)
    padding: 0 36px
    fill: #646464
    cursor: default
    opacity: .24


.settings-enter-active
.settings-leave-active
  transition: z-index var(--d-fast), transform var(--d-fast), opacity var(--d-fast)
.settings-enter
  opacity: 0
.settings-enter-to
  opacity: 1
.settings-leave
  opacity: 1
.settings-leave-to
  opacity: 0

// ---
// -- Settings root component
// -
.Settings
  box(absolute)
  pos(64px, 0)
  size(100%, calc(100% - 64px))
  overflow-y: auto
  background-attachment: local
  &:before
    content: ''
    box(absolute)
    size(100%, 1px)
    pos(0, 0)
    background-color: var(--border-flare-fg)

.wrapper
  box(relative)
  size(100%)

.Settings h1
  box(relative)
  size(100%)
  text(s: 2.5rem, w: 700)
  padding: 30px 0
  color: var(--label-fg)
  text-align: center

.Settings section
  box(relative, grid)
  size(calc(100% - 16px), max-w: 480px)
  padding: 2px 8px 32px
  margin: 0 auto

.Settings section > h2
  box(relative)
  size(100%)
  text(s: rem(28), w: 400)
  color: var(--title-fg)
  text-align: center
  margin: 28px 0 24px

.Settings .separator
  box(relative)
  size(100%, 1px)
  background-color: #00000032
  box-shadow: 0 1px 0 0 #78787816
  margin: 8px 0

.Settings .ToggleField
.Settings .SelectField
  margin: 0 16px

  .ToggleInput
  .SelectInput

    .opt
      text(s: rem(15))
      margin: 0 0 0 8px

  .label
    text(s: rem(16))

.Settings .SelectField
  box(flex)

.Settings .SelectField > .label
  margin-right: auto

.Settings .SelectField > .SelectInput
  size(max-w: 55%)
  justify-content: flex-end
  margin-left: auto
  padding-left: 16px

.Settings .sub-fields
  box(relative)
  grid-gap: 16px 0
  margin: 0 0 0 24px

.Settings .ctrls
  box(relative, flex)
  grid-gap: 8px 8px
  justify-content: center
  flex-wrap: wrap
  margin: 5px 16px

// --- Container ---
.Settings .box
  box(relative, flex)
  grid-gap: 16px 8px
  flex-wrap: wrap
  margin: 0 16px

.Settings .box > .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  margin: 0

.Settings .info
  box(relative)
  text(s: rem(13)) 
  size(max-w: 100%)
  padding: 0 0 0 16px
  white-space: pre-wrap
  color: var(--info-fg)

.Settings .btn
  size(auto)
  padding: 5px 16px

// --- Keybindings ---
.Settings .keybinding
  box(relative, flex)
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  padding: 2px 0
  margin: 0 8px 0 16px
  cursor: pointer
  opacity: .8
  &:hover
    opacity: 1
  &:active
    opacity: .7
  &[is-focused]
    opacity: 1
    > .value
      color: var(--active-fg)
      box-shadow: inset 0 0 0 1px var(--active-fg)
    > .label
      color: var(--active-fg)

.Settings .keybinding > .label
  box(relative)
  text(s: rem(14))
  color: var(--label-fg)
  margin: 0 6px 0 0
  transition: color var(--d-fast)

.Settings .keybinding > .value
  box(relative)
  text(s: rem(12))
  padding: 2px 6px
  margin: 1px 0 0 0
  color: var(--label-fg)
  background-color: #78787832
  box-shadow: inset 0 0 0 1px var(--info-fg)
  border-radius: 4px
  white-space: nowrap

.Settings .keybinding > input
  box(absolute)
  size(0, same)
  pos(0, 0)
  opacity: 0
  z-index: -1

.Settings .permission[data-highlight]
  box(relative)

.Settings .permission[data-highlight]:before
  content: ''
  box(absolute)
  pos(-8px, -8px)
  size(calc(100% + 16px), same)
  outline: 2px dashed var(--false-fg)
  outline-offset: -2px

.Settings .details-box
  box(fixed, flex)
  size(100vw, 100vh)
  pos(0, 0)
  flex-flow: column
  align-items: center
  background-color: var(--bg)
  background-attachment: local
  z-index: 1
  overflow-x: hidden
  overflow-y: auto

.Settings .details-box > .box
  box(fixed)
  pos(32px, r: 32px)
  align-items: flex-end
  z-index: 1

.Settings .details-box .copy-btn
.Settings .details-box .close-btn
  box(relative)
  text(s: rem(18))
  padding: 8px 16px
  color: var(--active-fg)
  z-index: 1
  cursor: pointer
  &:hover
    opacity: .7
  &:active
    opacity: .5

.Settings .details-box .close-btn
  color: var(--false-fg)

.Settings .details-box .json
  box(relative)
  size(max-w: 100%)
  text(monospace, s: rem(11))
  padding: 32px 40px
  white-space: pre-wrap
  word-break: break-word
  color: var(--label-fg)

@import './menu-editor'
@import './styles-editor'
@import './snapshots'
@import './debug'