@import '../../mixins'

// ---
// -- Root vue element
// -
.root
  box(relative)
  size(100%, 100%)
  background-color: var(--bg)

// ---
// -- Sidebar root element
// -
.Sidebar
  box(relative, flex)
  size(100%, same)
  flex-direction: column
  overflow: hidden

#root[data-pinned-tabs-position="top"] > .Sidebar
  flex-direction: column
#root[data-pinned-tabs-position="left"] > .Sidebar
  flex-direction: row
#root[data-pinned-tabs-position="right"] > .Sidebar
  flex-direction: row-reverse

.Sidebar > .PinnedDock
  z-index: 2001

// ---
// -- Main container
// -
.Sidebar > .box
  box(relative, flex)
  size(100%, same)
  flex-direction: column

// ---
// -- Dimmer layer
// -
.Sidebar .dimmer
  box(absolute)
  pos(0, 0)
  size(100%, same)
  background-color: #00000032
  z-index: -1
  opacity: 0
  transition: z-index var(--d-fast), opacity var(--d-fast)

.Sidebar[data-dashboard] .dimmer
  z-index: 500
  opacity: 1

// ---
// -- Navigation
// -
.Sidebar .nav
  box(relative, flex)
  size(100%)
  min-height: var(--nav-btn-height)
  z-index: 2000
  background-color: var(--bg)
  box-shadow: inset 0 -1px 0 0 #00000032, 0 0 12px 0 #00000000
  translate: box-shadow var(--d-fast)

.Sidebar[data-dashboard] .nav
  box-shadow: inset 0 -1px 0 0 #00000032, 0 0 12px 0 #00000032

// ---
// -- Dashboard wrapper
// -
.Sidebar .dashboard-box
  box(absolute, flex)
  size(100%, max-h: calc(100% - 64px))
  pos(0, 0)
  flex-direction: column
  z-index: 1000
  box-shadow: 0 1px 12px 0 #00000056, 0 0 0 1px #00000012
  background-color: var(--bg)

// ---
// -- Dashboard
// -
.Sidebar .dashboard
  size(100%, same)
  overflow: hidden

// ---
// -- Nav bar
// -
.Sidebar .nav-bar
  box(relative, flex)
  flex-wrap: wrap
  flex-grow: 1
  overflow: hidden

.Sidebar[data-nav-inline] .nav-bar
  flex-wrap: nowrap

// ---
// -- Navigational button
// -
.Sidebar .nav-btn
  box(relative, flex)
  width: var(--nav-btn-width)
  height: var(--nav-btn-height)
  justify-content: center
  align-items: center
  flex-shrink: 0
  overflow: hidden
  opacity: var(--nav-btn-opacity)
  z-index: 10
  transition: opacity var(--d-fast), transform var(--d-fast), z-index var(--d-fast)

  // for dragenter
  &:before
    content: ''
    box(absolute)
    size(100%, same)
    pos(0, 0)
    z-index: 1

  &[data-active="true"]
    background-color: #00000024
    opacity: var(--nav-btn-activated-opacity)

  &:hover
    opacity: var(--nav-btn-opacity-hover)

  &:active
    opacity: var(--nav-btn-opacity-active)
    transition: none

  &[data-hidden="true"]
    box(none)

  &[data-loading="true"]
    cursor: progress

.Sidebar[data-nav-inline] .nav-btn
  box(absolute)

  &[data-hidden="true"]
    box(flex)
    opacity: 0
    z-index: -1
    transform: scale(0, 0)

  // Button x position
  for i in 0..24
    &[data-index=\"{i}\"]
      transform: "translateX(calc(var(--nav-btn-width) * %s))" % i

// ---
// -- Nav button icon
// -
.Sidebar .nav-btn > svg
  box(absolute)
  size(16px, same)
  fill: var(--nav-btn-fg)
  transform: translateZ(0)
  transition: opacity var(--d-fast)

.Sidebar .nav-btn[data-updated] > svg
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 4px,
    #000000 5px,
    #000000
  )

.Sidebar .nav-btn[data-proxified] > svg
.Sidebar .nav-btn[data-loading] > svg
  mask: radial-gradient(
    circle at calc(100% - 2px) calc(100% - 2px),
    #00000024,
    #00000024 7px,
    #000000 8px,
    #000000
  )

// ---
// -- Progress spinner
// -
.Sidebar .nav-btn .progress-spinner
  box(absolute, border-box)
  size(12px, same)
  pos(50%, 50%)
  border-radius: 50%
  opacity: 0
  overflow: hidden
  transition: opacity var(--d-norm)
  border-top: 2px solid var(--tabs-loading-fg)
  border-left: 2px solid var(--inactive-fg)
  border-right: 2px solid var(--inactive-fg)
  border-bottom: 2px solid var(--inactive-fg)

.Sidebar .nav-btn[data-loading] .progress-spinner
  animation: progress-animation .5s infinite linear

.Sidebar .nav-btn[data-loading="true"] .progress-spinner
  opacity: 1

// ---
// -- Update / Highlight badge
// -
.Sidebar .nav-btn .update-badge
  box(absolute)
  size(6px, same)
  pos(calc(50% + 3px), calc(50% + 3px))
  border-radius: 50%
  background-color: var(--nav-btn-update-badge-bg)
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)

.Sidebar .nav-btn[data-updated]:not([data-proxified]) .update-badge
  opacity: 1
  transform: scale(1, 1)

// ---
// -- Proxy badge
// -
.Sidebar .nav-btn .proxy-badge
  box(absolute)
  size(10px, same)
  pos(calc(50% + 1px), calc(50% + 1px))
  fill: var(--nav-btn-fg)
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)
  > svg
    box(absolute)
    size(100%, same)

.Sidebar .nav-btn[data-proxified] .proxy-badge
  opacity: .64
  transform: scale(1, 1)

// ---
// -- Ok / Err badge
// -
.Sidebar .nav-btn .ok-badge
.Sidebar .nav-btn .err-badge
  box(absolute)
  size(10px, same)
  pos(calc(50% + 1px), calc(50% + 1px))
  border-radius: 50%
  opacity: 0
  transform: scale(0.7, 0.7)
  transition: opacity var(--d-norm), transform var(--d-norm)
  > svg
    box(absolute)
    size(100%, same)

.Sidebar .nav-btn[data-loading="ok"] .ok-badge
  opacity: 1
  transform: scale(1, 1)

.Sidebar .nav-btn[data-loading="err"] .err-badge
  opacity: 1
  transform: scale(1, 1)

.Sidebar .nav-btn .ok-badge > svg
  fill: var(--true-fg)

.Sidebar .nav-btn .err-badge > svg
  fill: var(--false-fg)

// ---
// -- Settings button
// -
.Sidebar .settings-btn
  box(relative, flex)
  width: var(--nav-btn-width)
  height: var(--nav-btn-height)
  justify-content: center
  align-items: center
  flex-shrink: 0
  &:hover > svg
    opacity: .7
  &:active > svg
    transition: none
    opacity: .4
  > svg
    box(absolute)
    size(16px, same)
    fill: var(--nav-btn-fg)
    opacity: .4
    transition: opacity var(--d-fast)

// ---
// -- Move pointer
// -
.Sidebar .pointer
  box(absolute)
  size(32px, 24px)
  pos(0, 0)
  z-index: -1
  opacity: 0
  transition: z-index var(--d-fast), opacity var(--d-fast), transform var(--d-fast)
  &:after
    content: ''
    box(absolute)
    size(100vw, 2px)
    pos(11px, 6px)
    background-color: var(--nav-btn-update-badge-bg)
    opacity: 0
    transition: opacity var(--d-fast)

.Sidebar[data-drag] .pointer
  opacity: 1
  z-index: 100

.Sidebar[data-pointer="between"] .pointer:after
  opacity: 1

.Sidebar[data-pointer^="inside"] .pointer:after
  opacity: 0

#root[data-pinned-tabs-position="left"] .Sidebar .pointer
  pos(l: 33px)

// ---
// -- Arrow of drag pointer
// -
.Sidebar .arrow
  box(absolute)
  size(100%, same)
  pos(0, 0)
  opacity: 1
  transition: opacity var(--d-fast)
  &:before
    content: ''
    box(absolute)
    size(16px, 16px)
    pos(4px, -11px)
    transform: rotateZ(45deg)
    box-shadow: inset 0 0 0 2px var(--nav-btn-update-badge-bg)
    transition: background-color var(--d-fast)
  &:after
    content: ''
    box(absolute)
    size(16px, 16px)
    pos(4px, -11px)
    opacity: 0
    transform: rotateZ(45deg)
    box-shadow: inset -1px 1px 0 0 var(--nav-btn-update-badge-bg)

.Sidebar[data-pointer="none"] .arrow
  opacity: 0

.Sidebar[data-pointer="inside-fold"] .arrow:before
  background-color: var(--nav-btn-update-badge-bg)

.Sidebar .arrow[data-expanding]
  animation: pointer-expand-arrow .3s

.Sidebar .arrow[data-expanding]:after
  animation: pointer-expand-pulse .5s

// ---
// -- Container of panels
// -
.Sidebar .panel-box
  box(relative)
  flex-grow: 2

// ---
// -- Panel
// -
.Sidebar .panel
  box(absolute, flex)
  pos(0, 0)
  size(100%, same)
  flex-direction: column
  transition: transform var(--d-fast), opacity var(--d-fast), z-index var(--d-fast)
  opacity: 0
  z-index: 0
  &[data-pos="center"]
    z-index: 10
    opacity: 1
    transform: translateX(0)
  &[data-pos="left"]
    transform: translateX(-100%)
  &[data-pos="right"]
    transform: translateX(100%)

// ---
// -- Settings Transitions
// -
.Sidebar
  .panel-enter-active
  .panel-leave-active
    transition: z-index var(--d-fast), transform var(--d-fast)
  .panel-enter
    transform: translateX(100%)
    z-index: 0
  .panel-enter-to
    transform: translateX(0)
    opacity: 1
    z-index: 10
  .panel-leave
    transform: translateX(0)
    opacity: 1
    z-index: 10
  .panel-leave-to
    transform: translateX(100%)
    z-index: 0

  .dashboard-enter-active
  .dashboard-leave-active
    transition: z-index var(--d-fast), transform var(--d-fast)
  .dashboard-enter
    transform: translateY(-100%)
    z-index: 0
  .dashboard-enter-to
    transform: translateY(0)
    opacity: 1
    z-index: 1000
  .dashboard-leave
    transform: translateY(0)
    opacity: 1
    z-index: 1000
  .dashboard-leave-to
    transform: translateY(-100%)
    z-index: 0
