@import '../../mixins'

.TabsPanel .container
  box(relative)
  size(100%, same, min-h: 100%)
  padding: 0 0 64px
  box-shadow: inset 0 1px 0 0 #ffffff08
  transition: transform var(--d-fast), opacity var(--d-fast)
  > div
    box(relative)
    size(100%, same)
