// ---
// -- Styles
// -
#root
  // Common
  &[data-style="dark"]
    --bg: #323232
    --title-fg: #ffffff
    --sub-title-fg: #ffffff
    --label-fg: #ffffff
    --label-fg-hover: #ffffff
    --label-fg-active: #aaaaaa
    --info-fg: #898989
    --true-fg: #64df64
    --false-fg: #df6464
    --active-fg: #64aaff
    --inactive-fg: #595959
    --favicons-placehoder-bg: #ffffff24
    --border-fg: #00000032
    --border-active-fg: #00000032
    --border-flare-fg: #ffffff08
  &[data-style="light"]
    --bg: #fafafa
    --title-fg: #000000
    --sub-title-fg: #242424
    --label-fg: #000000
    --label-fg-hover: #000000
    --label-fg-active: #565656
    --info-fg: #727272
    --true-fg: #08bc2d
    --false-fg: #d72f2f
    --active-fg: #146fd9
    --inactive-fg: #a6a6a6
    --favicons-placehoder-bg: #00000048
    --border-fg: #00000032
    --border-active-fg: #00000032
    --border-flare-fg: #ffffff32

  // Button
  &[data-style="dark"]
    --btn-bg: #245484
    --btn-bg-hover: #295b8f
    --btn-bg-active: #205386
    --btn-warn-bg: #b93527
    --btn-warn-bg-hover: #c93627
    --btn-warn-bg-active: #b93224
    --btn-fg: #fafafa
    --btn-fg-hover: #ffffff
    --btn-fg-active: #f2f2f2
    --btn-shadow: 0 1px 2px 0 #00000024, 0 0 0 1px #00000012
    --btn-shadow-hover: 0 1px 2px 0 #00000032, 0 0 0 1px #00000024
    --btn-shadow-active: 0 1px 2px 0 #00000000, 0 0 0 1px #00000012
    --btn-roundness: 3px
  &[data-style="light"]
    --btn-bg: #328def
    --btn-bg-hover: #3995ea
    --btn-bg-active: #268aef
    --btn-warn-bg: #ff5538
    --btn-warn-bg-hover: #ff613d
    --btn-warn-bg-active: #ff5538
    --btn-fg: #fafafa
    --btn-fg-hover: #ffffff
    --btn-fg-active: #f2f2f2
    --btn-shadow: 0 1px 2px 0 #00000024, 0 0 0 1px #00000000
    --btn-shadow-hover: 0 1px 2px 0 #00000032, 0 0 0 1px #00000000
    --btn-shadow-active: 0 1px 2px 0 #00000000, 0 0 0 1px #00000012
    --btn-roundness: 3px

  // Scroll Box
  &[data-style="dark"]
    --scroll-progress-h: 1px
    --scroll-progress-bg: #37adef
  &[data-style="light"]
    --scroll-progress-h: 2px
    --scroll-progress-bg: #178dff

  // Context Menu
  &[data-style="dark"]
    --ctx-menu-bg: #2a2a2a
    --ctx-menu-bg-hover: #484848
    --ctx-menu-warn-bg-hover: #ff613d
    --ctx-menu-fg: #ffffff
    --ctx-menu-warn-fg: #ff613d
    --ctx-menu-shadow: 0 0 0 1px #212121, 0 1px 16px 0 #00000048
  &[data-style="light"]
    --ctx-menu-bg: #ffffff
    --ctx-menu-bg-hover: #cacaca
    --ctx-menu-warn-bg-hover: #ff613d
    --ctx-menu-fg: #000000
    --ctx-menu-warn-fg: #ff613d
    --ctx-menu-shadow: 0 0 0 1px #00000016, 0 1px 16px 0 #00000032

  // Nav Strip
  &[data-style="dark"]
    --nav-btn-fg: #ffffff
    --nav-btn-bg-focus: #484848
    --nav-btn-opacity: .8
    --nav-btn-opacity-hover: .9
    --nav-btn-opacity-active: .6
    --nav-btn-activated-opacity: 1
    --nav-btn-activated-filter: drop-shadow(0 0 1px #00000056)
    --nav-btn-update-badge-bg: #00e9fb
  &[data-style="light"]
    --nav-btn-fg: #323232
    --nav-btn-bg-focus: #ffffff
    --nav-btn-opacity: .8
    --nav-btn-opacity-hover: .9
    --nav-btn-opacity-active: .6
    --nav-btn-activated-opacity: 1
    --nav-btn-activated-filter: none
    --nav-btn-update-badge-bg: #01acda

  // Tabs
  &[data-style="dark"]
    --tabs-fg: #aaa
    --tabs-fg-hover: #cecece
    --tabs-fg-active: #aaa
    --tabs-bg-hover: #00000016
    --tabs-bg-active: #242424af
    --tabs-activated-bg: #242424af
    --tabs-activated-fg: #ffffff
    --tabs-selected-bg: #245484
    --tabs-selected-fg: #ffffff
    --tabs-loading-fg: #47cfff
    --tabs-update-badge-bg: #00e9fb
  &[data-style="light"]
    --tabs-fg: #323232
    --tabs-fg-hover: #000000
    --tabs-fg-active: #565656
    --tabs-bg-hover: #00000012
    --tabs-bg-active: #cacacaaf
    --tabs-activated-bg: #cacacaaf
    --tabs-activated-fg: #000000
    --tabs-loading-fg: #146fd9
    --tabs-selected-bg: #44a4f4
    --tabs-selected-fg: #ffffff
    --tabs-update-badge-bg: #01acda

  // Bookmarks
  &[data-style="dark"]
    --bookmarks-node-title-fg: #bebebe
    --bookmarks-node-title-fg-hover: #ffffff
    --bookmarks-node-title-fg-active: #aaaaaa
    --bookmarks-node-bg-hover: #00000016
    --bookmarks-node-bg-active: #00000024
    --bookmarks-folder-closed-fg: #bebebe
    --bookmarks-folder-closed-fg-hover: #ffffff
    --bookmarks-folder-closed-fg-active: #787878
    --bookmarks-folder-expanded-fg: #ffffff
    --bookmarks-folder-expanded-fg-hover: #dadada
    --bookmarks-folder-expanded-fg-active: #898989
    --bookmarks-folder-empty-fg: #646464
    --bookmarks-drag-gradient: linear-gradient(90deg, #242424, #32323200)
    --bookmarks-open-bookmark-fg: #64aaff
  &[data-style="light"]
    --bookmarks-node-title-fg: #3a3a3a
    --bookmarks-node-title-fg-hover: #000000
    --bookmarks-node-title-fg-active: #565656
    --bookmarks-node-bg-hover: #00000012
    --bookmarks-node-bg-active: #00000020
    --bookmarks-folder-closed-fg: #646464
    --bookmarks-folder-closed-fg-hover: #323232
    --bookmarks-folder-closed-fg-active: #787878
    --bookmarks-folder-expanded-fg: #000000
    --bookmarks-folder-expanded-fg-hover: #323232
    --bookmarks-folder-expanded-fg-active: #898989
    --bookmarks-folder-empty-fg: #969696
    --bookmarks-drag-gradient: linear-gradient(90deg, #cacaca, #fafafa00)
    --bookmarks-open-bookmark-fg: #146fd9

  // Settings
  &[data-style="dark"]
    --settings-snapshot-counter-pinned-fg: #686868
    --settings-shortcut-fg: #cecece
    --settings-shortcut-fg-focus: #37adff
    --settings-shortcut-bg: #484848
    --settings-shortcut-shadow: 0 0 0 1.2px #565656
    --settings-shortcut-shadow-focus: 0 0 0 1.2px #37adff
  &[data-style="light"]
    --settings-snapshot-counter-pinned-fg: #565656
    --settings-shortcut-fg: #484848
    --settings-shortcut-fg-focus: #278dff
    --settings-shortcut-bg: #ffffff
    --settings-shortcut-shadow: 0 0 0 1.2px #aaaaaa
    --settings-shortcut-shadow-focus: 0 0 0 1.2px #37adff

// ---
// -- Color of current panel
// -
#root
  --active-panel-fg: #ffffff
#root[data-color="blue"]
  --active-panel-fg: #37adff
#root[data-color="turquoise"]
  --active-panel-fg: #00c79a
#root[data-color="green"]
  --active-panel-fg: #51cd00
#root[data-color="yellow"]
  --active-panel-fg: #ffcb00
#root[data-color="orange"]
  --active-panel-fg: #ff9f00
#root[data-color="red"]
  --active-panel-fg: #ff613d
#root[data-color="pink"]
  --active-panel-fg: #ff4bda
#root[data-color="purple"]
  --active-panel-fg: #af51f5

// ---
// -- Local color of panel
// -
#root
  --panel-fg: #ffffff
[data-color="blue"]
  --panel-fg: #37adff
[data-color="turquoise"]
  --panel-fg: #00c79a
[data-color="green"]
  --panel-fg: #51cd00
[data-color="yellow"]
  --panel-fg: #ffcb00
[data-color="orange"]
  --panel-fg: #ff9f00
[data-color="red"]
  --panel-fg: #ff613d
[data-color="pink"]
  --panel-fg: #ff4bda
[data-color="purple"]
  --panel-fg: #af51f5

// ---
// -- Sizes
// -
// Nav bar
#root
  --nav-btn-width: 34px
  --nav-btn-height: 32px

// Tabs
#root
  --tabs-height: 30px
  --tabs-indent: 10px

// Bookmarks
#root
  --bookmarks-bookmark-height: 24px
  --bookmarks-folder-height: 28px
  --bookmarks-separator-height: 17px

// ---
// -- Animation
// -
#root[data-animations="none"]
  --d-tick: 0s
  --d-fast: 0s
  --d-norm: 0s
  --d-slow: 0s

#root[data-animations="fast"]
  --d-tick: .05s
  --d-fast: .12s
  --d-norm: .2s
  --d-slow: .3s

// ---
// -- Misc
// -
// Pinned dock
#root
  --pinned-dock-overlay-bg: #00000008
  --pinned-dock-overlay-shadow: none

// Tabs
#root
  --tabs-font: rem(16) sans-serif
  --tabs-count-font: rem(9) sans-serif
  --tabs-border: none
  --tabs-activated-border: none
  --tabs-selected-border: none
  --tabs-shadow: none
  --tabs-activated-shadow: none
  --tabs-selected-shadow: none

// Bookmarks
#root
  --bookmarks-bookmark-font: rem(14) sans-serif
  --bookmarks-folder-font: rem(16) sans-serif

// ContextMenu
#root
  --ctx-menu-font: rem(14) sans-serif
