name: CI
on:
  pull_request:
    branches: [main]
jobs:
  Prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Prettify code
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --write src/**/*.{ts,vue,json}
          only_changed: True
