@import '../../../utils'

.PinnedTabsBar
  position: relative
  display: flex
  background-color: var(--frame-bg)
  &[data-empty="true"]
    display: none

// Per-Panel
#root[data-pinned-tabs-position="panel"] .PinnedTabsBar
  width: 100%
  height: auto
  flex-wrap: wrap
  flex-direction: row
  grid-gap: var(--tabs-margin)
  padding: var(--tabs-margin) var(--tabs-margin) 0

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar
  grid-gap: 0
  padding: 0 0 calc(var(--tabs-margin) * 3 + 4px)

// Left/Right
#root[data-pinned-tabs-position="left"] .PinnedTabsBar
#root[data-pinned-tabs-position="right"] .PinnedTabsBar
  width: 100%
  height: 100%
  align-items: center
  flex-shrink: 0
  flex-grow: 0
  flex-direction: column
  grid-gap: var(--tabs-margin)
  padding: var(--tabs-margin) 0

// Left/Right stacked with navbar
#root[data-pinned-tabs-position="left"][data-nav-layout="left"] .PinnedTabsBar
#root[data-pinned-tabs-position="right"][data-nav-layout="right"] .PinnedTabsBar
  height: auto
  padding: var(--tabs-margin) 0 0
#root[data-pinned-tabs-position="left"][data-nav-layout="left"][data-drag="true"] .PinnedTabsBar
#root[data-pinned-tabs-position="right"][data-nav-layout="right"][data-drag="true"] .PinnedTabsBar
  padding: var(--tabs-margin) 0 calc(var(--tabs-margin) + 16px)

// Top
#root[data-pinned-tabs-position="top"] .PinnedTabsBar
  width: 100%
  height: auto
  flex-wrap: wrap
  flex-direction: row
  grid-gap: var(--tabs-margin)
  padding: var(--tabs-margin)

// ---
// -- Separator
// -
.PinnedTabsBar:after
  content: ''
  position: absolute
  display: none
  bottom: calc(var(--tabs-margin) + 2px)
  left: 12px
  width: calc(100% - 24px)
  height: 1px
  background-color: var(--frame-fg)
  opacity: .16

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar:after
  display: block

// ---
// -- Tab wrapper
// -
.PinnedTabsBar .tab-wrapper
  position: relative
  &:before
    content: ''
    position: absolute
    top: calc(var(--tabs-margin) * -1)
    left: calc(var(--tabs-margin) * -1)
    width: calc(100% + var(--tabs-margin))
    height: calc(100% + var(--tabs-margin))
  &:after
    content: ''
    position: absolute
    display: none
    top: 0
    left: -2px
    width: 2px
    height: 100%
    z-index: 2000
    background-color: var(--selected-border)
    pointer-events: none
    border-radius: 4px
    box-shadow: 0 0 0 1px var(--frame-bg)
  &[data-targeted="true"]:after
    display: block

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .tab-wrapper
  width: 100%
#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .tab-wrapper:after
  top: 0
  left: 0
  width: 100%
  height: 2px

#root[data-pinned-tabs-position="left"] .PinnedTabsBar .tab-wrapper:after
#root[data-pinned-tabs-position="right"] .PinnedTabsBar .tab-wrapper:after
  top: -2px
  left: 0
  width: 100%
  height: 2px

// ---
// -- The last drop position
// -
.PinnedTabsBar .to-the-end
  position: relative
  opacity: 0
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    background-color: var(--selected-border)
    box-shadow: 0 0 0 1px var(--frame-bg)
    z-index: 2000

#root[data-pinned-tabs-position="panel"] .PinnedTabsBar .to-the-end
#root[data-pinned-tabs-position="top"] .PinnedTabsBar .to-the-end
  &:before
    left: -2px
    width: 2px
    height: var(--tabs-pinned-height)

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar .to-the-end
  width: 100%
  &:before
    top: 0
    width: 100%
    height: 2px

#root[data-pinned-tabs-position="left"] .PinnedTabsBar .to-the-end
#root[data-pinned-tabs-position="right"] .PinnedTabsBar .to-the-end
  width: 100%
  &:before
    top: -2px
    width: var(--tabs-pinned-width)
    height: var(--tabs-margin)

#root[data-drag="true"] .PinnedTabsBar[data-dnd-end="true"] .to-the-end
  opacity: 1
