@import '../../../utils'

#root .BookmarkCard
  --bc-padding: 3px 0 4px
  --bc-inner-indent: 8px
  --bg-margin-top: 1px
  --bg-margin-bottom: 1px
#root[data-density="compact"] .BookmarkCard
  --bc-padding: 2px 0 3px
  --bc-inner-indent: 6px
  --bg-margin-top: 1px
  --bg-margin-bottom: 0px

.BookmarkCard
  position: relative
  margin: 0
  padding: var(--bc-padding)
  &:before
    content: ''
    position: absolute
    top: var(--bg-margin-top)
    left: var(--bookmarks-margin-horizontal)
    width: calc(100% - var(--bookmarks-margin-horizontal) * 2)
    height: calc(100% - var(--bg-margin-top) - var(--bg-margin-bottom))
    border-radius: var(--bookmarks-border-radius)
  &:hover:before
    background-color: var(--hover-bg)
  &:active:before
    background-color: var(--clicked-bg)
  &[data-selected="true"]:before
    background-color: var(--selected-bg)
    box-shadow: inset 0 0 0 1px var(--selected-border)
  &[data-open="true"]:after
    content: ''
    position: absolute
    top: 4px
    left: 5px
    width: 3px
    height: 3px
    border-radius: 50%
    background-color: var(--frame-fg)

// ---
// -- Line
// -
.BookmarkCard .line
  position: relative
  display: flex
  align-items: center

// ---
// -- Drag layer
// -
.BookmarkCard .dnd-layer
  z-index: 15

// ---
// -- Favicon
// -
.BookmarkCard .fav
  position: relative
  width: 16px
  height: 16px
  flex-shrink: 0
  margin: 3px 0 0 var(--bc-inner-indent)

.BookmarkCard .fav > svg
.BookmarkCard .fav > img
  position: absolute
  width: 16px
  height: 16px
  top: 0
  left: 0
  fill: var(--frame-fg)
.BookmarkCard .fav > svg
  opacity: .7

// ---
// -- Title
// -
.BookmarkCard .title
  position: relative
  width: 100%
  margin: 3px 2px 1px 5px
  font-size: rem(15)
  color: var(--frame-fg)
  white-space: nowrap
  overflow: hidden
  transition: transform var(--d-fast), color var(--d-fast)
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)

// ---
// -- Info
// -
.BookmarkCard .info
  position: relative
  width: 100%
  margin: 2px 0 0 var(--bc-inner-indent)
  font-size: rem(12)
  color: var(--frame-fg)
  white-space: nowrap
  overflow: hidden
  opacity: .7
  mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)
  &.-end
    width: auto
    flex-shrink: 0
    margin-right: 6px
    mask: none
