@import '../../../utils'

#root
  --bookmarks-panel-padding: 1px 0 0
#root[data-density="compact"]
  --bookmarks-panel-padding: 0

.BookmarksPanel
  position: absolute
  display: flex
  width: 100%
  height: 100%
  flex-direction: column
  z-index: 100
  transition: transform var(--d-fast), opacity var(--d-fast), z-index var(--d-fast)
  overflow: hidden

// .BookmarksPanel .scrollable
//   padding: var(--bookmarks-panel-padding)

.BookmarksPanel .bookmarks-tree
.BookmarksPanel .bookmarks-history
  position: relative
  padding-bottom: 64px

.BookmarksPanel .group
  position: relative

.BookmarksPanel .group-list
  position: relative
  padding: 0 0 12px

// ---
// -- Root nodes
// -
.BookmarksPanel .root-node
  position: relative
  opacity: 1
  transition: opacity var(--d-fast)

// ---
// -- Search
// -
.BookmarksPanel .filtered
  position: relative
  padding-bottom: 64px
