@import '../../../utils'

#root
  --history-info-bar-height: 26px
  --history-list-padding: 1px 0 0
  --history-item-height: 30px
  --history-item-margin-top: 1px
  --history-item-margin-bottom: 1px
  --history-item-margin-horizontal: 2px
  --history-item-border-radius: 4px
  --history-item-padding-left: 6px
  --history-item-padding-right: 5px
#root[data-density="compact"]
  --history-info-bar-height: 24px
  --history-list-padding: 0
  --history-item-height: 27px
  --history-item-margin-top: 1px
  --history-item-margin-bottom: 0px
  --history-item-margin-horizontal: 1px
  --history-item-border-radius: 3px
  --history-item-padding-left: 6px
  --history-item-padding-right: 4px

.HistoryPanel
  position: absolute
  display: flex
  width: 100%
  height: 100%
  flex-direction: column
  z-index: 100
  transition: transform var(--d-fast), opacity var(--d-fast), z-index var(--d-fast)

.HistoryPanel .info-bar
  position: relative
  display: flex
  width: 100%
  height: var(--history-info-bar-height)
  justify-content: center
  align-items: center
  box-shadow: 0 0 0 1px var(--ff-border)
  background-color: var(--toolbar-bg)
  margin: 0 0 var(--ff-border-width, 0)
  .title
    position: relative
    color: var(--toolbar-fg)
    font-size: rem(14)
    font-weight: 700

.HistoryPanel .scrollable
  padding: var(--history-list-padding)

.HistoryPanel .history-groups
  position: relative
  padding-bottom: 64px

.HistoryPanel .group
  position: relative

.HistoryPanel .group-list
  position: relative
  padding: 0 0 8px

.HistoryPanel .item
  position: relative
  height: var(--history-item-height)
  &:before
    content: ''
    position: absolute
    top: var(--history-item-margin-top)
    left: var(--history-item-margin-horizontal)
    width: calc(100% - var(--history-item-margin-horizontal) * 2)
    height: calc(100% - var(--history-item-margin-top) - var(--history-item-margin-bottom))
    border-radius: var(--history-item-border-radius)
  &:hover:before
    background-color: var(--hover-bg)
  &:active
    background-color: var(--clicked-bg)
    box-shadow: inset 0 0 0 1px #00000012
  &[data-sel="true"]:before
    background-color: var(--selected-bg)
    box-shadow: inset 0 0 0 1px var(--selected-border)

  .line
    position: relative
    display: flex
    height: 100%
    align-items: center

  .fav
    position: relative
    width: 16px
    height: 16px
    flex-shrink: 0
    margin: 0 0 0 var(--history-item-padding-left)
    cursor: pointer
    > svg, > img
      position: absolute
      width: 16px
      height: 16px
      top: 0
      left: 0
      fill: var(--frame-fg)
    > svg
      opacity: .7
    &:hover
      opacity: .7
    &:active
      opacity: .5

  .inline-info
    position: relative
    margin: 0 var(--history-item-padding-right) 0 5px
    font-size: rem(12)
    color: var(--frame-fg)
    white-space: nowrap
    overflow: hidden
    flex-shrink: 0
    opacity: .7

  .title
    position: relative
    width: 100%
    margin: 0 0 1px 5px
    font-size: rem(15)
    color: var(--frame-fg)
    white-space: nowrap
    overflow: hidden
    transition: transform var(--d-fast), color var(--d-fast)
    mask: linear-gradient(-90deg, transparent, #000000 12px, #000000)

.HistoryPanel .history-groups .LoadingDots
  height: 36px


.HistoryPanel .controls
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 16px 8px 0
  transition: opacity var(--d-fast)
  &[data-loading="true"]
    opacity: .3
  &[data-all-loaded="true"]
    opacity: 0
    pointer-events: none

.HistoryPanel .controls .note
  position: relative
  text-align: center
  font-size: rem(14)
  font-weight: 700
  color: var(--frame-fg)
  cursor: pointer
  user-select: none
  opacity: .7
  &:hover
    opacity: .5
  &:active
    opacity: .3

#root[data-search="true"] .HistoryPanel .controls
  opacity: 0
  pointer-events: none
