@import '../../../utils'

.ProcessingTabs
  background-color: var(--frame-bg)

.ProcessingTabs .popup
  box-shadow: none
  background-color: transparent

.ProcessingTabs .msg
  position: relative
  font-size: rem(14)
  padding: 0 8px
  color: var(--popup-fg)
  opacity: .7
  text-align: center

.ProcessingTabs .loading-dots
  position: relative
  margin: 8px 0 16px
